<!-- Display for regular users -->
<table class="table table-bordered">
    <tr>
        <td> Name </td>
        <td><span ng-bind="custInfo.name"></td>
    </tr>
    <tr>
        <td> Email </td>
        <td><span ng-bind="custInfo.email"></td>
    </tr>
    <tr>
        <td colspan="2" class="indent text-bold">SUBSCRIPTION</td>
    </tr>
    
    <tbody ng-show="!(custInfo.discount) && !(custInfo.cancel_at_period_end)">
        <tr ng-show="custPlan.trialing">
            <td> <u>Trial period end</u> </td>
            <td ng-bind="custInfo.trial_end"></td>
        </tr>
        <tr>
            <td> Billing cycle </td>
            <td> Per <span ng-bind="custPlan.interval"></span>, <span ng-bind="custPlan.billing"></span> </td>
        </td>
        <tr>
            <td> Payment amount </td>
            <td> $<span ng-bind="custPlan.amount/100"></span> </td>
        </tr>
        <tr>
            <td> Next payment date </td>
            <td> {{convertDateObject( custInfo.current_period_end )}} </td>
        </tr>
        
        <!-- Display this if user is license holder (admin), i.e. non-empty metadata field -->
        <tr ng-show="(custInfo.coupon | json) != '{}'">
            <td> Group license (owner) </td>
            <td>
                <span ng-bind="custInfo.coupon.id"></span>, 
                used <span ng-bind="custInfo.coupon.times_redeemed"></span>
                of <span ng-bind="custInfo.coupon.max_redemptions"></span> times </td>
        </tr>
    </tbody>
    
    <!-- Display this if discount user. This implies user is on a group license -->
    <tbody ng-if="custInfo.discount">
        <tr> 
            <td> Group license </td>
            <td> <span ng-bind="custInfo.discount.coupon.id"></span> </td>
        <tr>
        
        <tr>
            <td> License expires </td>
            <!-- <td> {{convertDateObject( custInfo.discount.end )}} </td> -->
            <td> {{convertDateObject( custInfo.current_period_end )}} </td>
        </tr>
    </tbody>

    <!-- Display if cancelled subscription -->
    <tbody ng-if="custInfo.cancel_at_period_end">
        <tr> 
            <td class="text-red"> Subscription cancelled </td>
            <td> ends at {{ convertDateTimeObject(custInfo.current_period_end) }} </td>
        <tr>
    </tbody>
</table>
