
/*********************************************************************************/
/*                FOOTER                                                         */
/*********************************************************************************/
.modal-footer {
    text-align: center;
}

#footer {
    position: relative;
    background: $grey5;
    color: $grey3;
    text-transform: uppercase;
    
    a {
        color: $grey1;
        text-decoration: none;
        
        @include background-transparent;

        &:active, &:hover { color: $main_green; }
    }
    
    /* This is for indicating where we are in website through the footer. */
    li.active:before {
        content: "> ";
        color: $grey3;
    }
    
    ul.nav-footer > li {
        padding-top: 1em;
        
        >a {
            color: $main_green;
            list-style-type: none;
            @include background-transparent;
            letter-spacing: 0.2em;
            font-size: 0.8em;
            
            &:hover {
                color: $main_green_dk;
            }
        }
    }

    ul.nav-footer2 > li > a {
        color: $grey1;
        list-style-type: none;
        @include background-transparent;
        padding-top: 1em;
        letter-spacing: 0.2em;
        font-size: 0.8em;
        
        &:hover {
            color: $main_green;
        }
    }
    
    .container {
        padding: 2em 0 2em 0;
    }
    
    .navbarIMG  img{
        @media (max-width: $small) { width: 50%; }
        @media (min-width: $medium) { width: 100%; }
    }
    
    /* Footer icons */
    .icons {
        a {
            font-size: 2em;
            padding: 1em 0 0 0;
            
            @media (max-width: $medium) {
                font-size: 1.5em;
                padding-top: 1em;
            }
        }
    }
    
    /* Footer copyright */
    .copyright {
        border-top: solid 0.02em $grey3;
        
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        padding-left: 1.5em;
        
        margin-left: 0em;
        
        width: 100%;
        display: inline-block;
        font-size: 0.8em;
        letter-spacing: 0.2em;

        @media (max-width: $medium) { 
            font-size: 10px;
            padding-left: 0em;
        }
        
        span {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }
}

@media (max-width: $medium) {
    #footer > .container {
        padding: 0 0 1em 0;
    }
}

/*********************************************************************************/
/*                ICONS                                                          */
/*      also used on contact page                                                */
/*********************************************************************************/
.facebook-link a:hover      { color: #3b5998 !important; }
.linkedin-link a:hover      { color: #007fb1 !important;}
.twitter-link a:hover       { color: #39a9e0 !important; }
.google-plus-link a:hover   { color: #d14836 !important; }
