/*********************************************************************************/
/*                NAVIGATION                                                     */
/*********************************************************************************/

/* only used in navlist_tools.html */
.dropdown-submenu  {
  list-style: none;

    & > li > a {
      font-size: 0.7em;
      padding-top: 0.2em;
      text-indent: 0;
      color: black;
      font-weight: normal;
    }

    /*
    & > li > a:hover, & > li > a:active, & > li > a:focus {
      text-decoration: none;
      background-color: $grey0;
      color: inherit;
    }
    */
}

/*********************************************************************************/
/*                Mini-Menu                                                      */
/*********************************************************************************/
.panel-title a {
    color: $main_green_dk;
    letter-spacing: 0.3em;
}

.navbar-toggle {
    margin-right: 0;
}

.navbar-modal > li > a {
    color: $black;
    font-weight: normal;
    font-size: 0.8em;
    margin-top: 0;
    padding-top: 0.5em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    
    &:hover {
        color: $main_green;
    }
}

/* for mini-menu. the .form-container part is necessary */
.form-container .panel-default {
    background-color: $grey5;
    color: inherit;
    border-color: $grey5;
    border-radius: 0;
    
    >.panel-heading {
        background-color: $grey5;
        color: inherit;
        border-color: $grey5;
    }
}