/*********************************************************************************/
/*                NAVIGATION                                                       */
/*********************************************************************************/
/**** Breadcrumb ****/
.breadcrumb {
    background-color: $grey1;
    text-align: left;
    margin: 0em;
    padding: 0em 0em 0em 20px;

    .divider{
        color: transparent;
    }
}

a.accordion-toggle {
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}


/**** Basic Navigation ****/

.nav > li > a:active, 
.nav > li > a:focus
{
    color: $main_green;
    background-color: $grey5;
}

/* UIB-ACCORDION - custom styling */
uib-accordion {

    .panel-heading {
        &:hover {
            background-color: $grey0;
        }
    }
    
    .panel-open .panel-heading {
        background-color: $grey0;
    }
    
    /*
    .panel-open {
        .panel-title::after {
            float: right;
            content: '-';
        }
    }
    
    .panel-title::after {
        float: right;
        content: '+';
        color: $main_green_dk;
        font-size: 20px;
    }
    */
}

nav .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $medium){
        padding: 0;
    }
}


/* used in header.html and the Walkthrough button in DesignGuide */
.dropdown-menu {
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    white-space: nowrap;
    max-width: 300px;
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
    
    >li>a {
        font-size: 0.8em;
        padding-top: 0.4em;
        text-indent: 0;
    }
    
    .nav > li > a {
        font-size: 6pt;
        text-indent: 15px;
        margin-top: 0;
    }
}


/* used in mini menu, large header menu, tools, DG */
ul.nav li:hover .dropdown-menu {
    display: block;
    width: 100%;
    margin-top: 0;
}

.navbar-default .dropdown-submenu > li.active > a,
.navbar-default .dropdown-submenu > li.active > a:hover,
.navbar-default .dropdown-submenu > li.active > a:focus,

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
ul.nav li:hover .dropdown-menu a:focus,
ul.nav li:hover .dropdown-menu a:active
{
    background-color: $main_green;
    color: inherit;
}

.nav > li > a {
    color: $black;
    font-weight: normal;
    margin-top: 3em;
    letter-spacing: 0.5em;
    
    @media (min-width: 995px) and (max-width: 1210px) { font-size: 10px; }
    @media (min-width: 992px) and (max-width: 994px)  { font-size: 9px; }
    @media (min-width: $medium) and (max-width: 991px)
        {
        margin-top: 0.5em;
        font-size: 10px;
    }
}
/*********************************************************************************/
