
/*********************************************************************************/
/*                SIDEBAR NAVIGATION                                             */
/*********************************************************************************/

.sidebar {
    
    &.scrollable {
        overflow-y: scroll;
        /*width: 300px;*/
    }
    
    top: 0;
    bottom: 0;
    
    padding-top: 150px;
    padding-bottom: 300px;
    
    position: fixed;

    
    h2 {
        border-bottom: thin solid $main_green;
        font-size: 12pt;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-indent: 0px;
        text-decoration: none;
        color: black;
        margin-bottom: 10pt;
        
        a {
            text-decoration: none;
            color: $black;
        }
        a:hover {
            text-decoration: none;
            color: $main_green_dk;
        }
    }

    a {
        font-weight: normal;
    }

    .nav li > a {
        color: black;
        padding-bottom: 5pt;
        font-size: 10pt;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-top: 0em;
    }
    
    /* Set background color for active link in sidebar (same color as hover) */
    .nav li.active, 
    .nav li:focus, 
    /*.nav li:active, <- this flashes green over entire list */
    .nav li> a:focus,
    .nav a.active {
        /*background-color: $grey1; */
        background-color: $main_green;
        color: black;
    }
    
    @media (max-width: $medium) { display: none; }
    
    .help-submenu {
        border-left: thin solid $grey1;
        
        margin: 0;
        margin-left: 2em;
        
        padding: 0;
        padding-left: 1em;
        padding-bottom: 2em;
        
        list-style: none;
        
        font-size: 85%;
        
        li {
            
            &:hover {
                cursor: pointer;
                background-color: $grey0;
            }
            
            padding-top: 5px;
            
            &.active {
                color: black;
                background-color: $main_green;
            }
            
            /* Don't make uppercase for submenu in Help sidebar */
            a {text-transform: none;}
        }
        
        label {
            padding-top: 5px;
        }
        
        .active {
            &:before {
                content: " > ";
                font-weight: bold;
            }
            
            color: $main_green_dk;
        }
    }
}
