@import "_common";

/*********************************************************************************/
/*                Tools pages icons                                     */
/*********************************************************************************/
/* For the icons on the Tools homepage
    z-index needed for proper <a> tag selection
 */
.toolpage-icons {
    /****** Titles ******/
    .title {
        h1, h2, h3, h4, h4 a, h5, h6 {
            color: $grey5;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        p {
            color: $grey3;
            position: relative;
            margin: 0 0 1.5em 0;
            text-transform: uppercase;
        }
    }
    
    span {
        margin: 0px 40px 0 40px;
        z-index: 10;    
    }
}

/************ Form for all Tools pages ************/
.form_tools {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: $black;
    letter-spacing: 0.1em;
    font-weight: normal;

    label {
        margin-left: 2em;
        padding: 2em 1em 1em 1em;
        /* letter-spacing: 0.2em; */
    }
    
    hr {
        border-bottom: thin solid $main_green;
        padding-bottom: 1em;
    }
    
    select {
        /* Size and position */
        position: relative;
        width: 100%;
        height: 38px;
        margin: 0 auto;
        padding: 10px;
        z-index: 1;
        
        /* Styles */
        background: $grey5;
        border-radius: 7px;
        border: 0px solid $grey5;
        cursor: pointer;
        outline: none;
        
        /* Font settings */
        letter-spacing: 0.3em;
        color: $main_green;
        text-decoration: none;
    }
    
    /* for ng-show in the tooltips to prevent flickering */
    /* to do: prevent div from getting weird when wrong input */
    .ng-hide, 
    .ng-hide.ng-hide-animate,
    .ng-show,
    .ng-show.ng-show-animate {
        transition: display 0s;
        -webkit-transition: display 0s;
        -moz-transition: display 0s;
        -ms-transition: display 0s;
        -o-transition: display 0s;
    }
    
    select[multiple],
    select[size] {
        height: 50%;
    }
    
    select option {
        letter-spacing: 0.3em;
        background: $grey5;
        text-decoration: none;
        color: $main_green;
        border-bottom: 0px solid $grey5;
    }
    select option:hover {
        background: $grey2;
    }

    button:active {
        background-color: $main_green_dk;
    }
    
    /* Child of form_tools */
    .sim-plot {
        select {
            /* width: 300px; */
        }
        
        @media (min-width: $small) and (max-width: 1180px) { 
            .col-sm-9{
                padding-left: 50px;
            }
        }
        
        label {
            font-weight: normal;
            padding: 0;
            margin: 0;
        }
        input {
            display: block;
            width: 100%;
            margin-bottom: 2em;
            margin-top: 0.5em;
        }
        
        textarea {
            resize: vertical;
        }
        
        /* For the "Choose File" button in Data Analysis */
        input[type='file']{
            display: none;
        }
        label[for='file-upload']{
            padding: 5px;
            width: 100%;
        }

        table
                {
            @media (min-width: $small) and (max-width: 1100px) { 
                td {
                    display: inline-block;
                }
            }
            table-layout: auto;
            table-width: 100%;
            
            margin: 0;
            padding: 0;
            
            input, input:not([type='radio']) {
                width: 55px;
                margin: 0;
                padding: 0;
            }
        }
        .panel {
            padding: 5px;
            font-size: 13px;
        }
    }
    
    /* Co-parent with form_tools */
    .power-plot, .power-plot-form
       {
        position:relative; min-height:300px;  padding:30px;

        .radio label {
            padding: 0;
        }
        
        input[type="number"] {
            width: 100px;
        }
        
        input[type="radio"] {
            height: 1em;
            width: 1em;
        }
        
        table{
            input, input:not([type='radio']) {
                width: 60px;
                margin: 0;
                padding: 0;
            }
        }
        
        input  {
            margin-top: 0px;
        }
        
        h4 {
            text-align: center;
        }
    }
}

/* "Save" button */
.toolSave {
    
    /* .panel-* not explict, but artifacts of uib-accordion */
    uib-accordion{
        .panel-heading,
        .panel-title, 
        .panel-body
        {
            background-color: $grey5;
        }
    }
    
    a.accordion-toggle {
        font-weight: bold;
        color: $main_green;
    }
}

/* animate a fade-in, fade-out with ngAnimate */
.animate-fade {
    opacity: 1;
}
.animate-fade.ng-hide {
    opacity: 0;
}
.animate-fade.ng-hide  tr {
    opacity: 0;
}
.animate-fade.ng-hide-add, 
.animate-fade.ng-hide-remove,
.animate-fade.ng-hide-add tr, 
.animate-fade.ng-hide-remove tr
{
    transition: all linear 0.5s;
}