
/*********************************************************************************/
/* timeline for tutorial                                                         */
/*********************************************************************************/
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: $grey2;
        left: 40px;
        margin-left: -1.5px;
        
        @media (min-width: $large) {
            top: 0;
            bottom: 0;
            position: absolute;
            content: "";
            width: 2px;
            background-color: $grey2;
            left: 5%;
            margin-left: -1.5px;
        }
    }

    .timeline-body {
        >p, >ul { margin-bottom: 0; }
        
        > h4 {
            text-transform: lowercase;
        }
        > p {
            @include indent;
            padding-bottom: 1em;
        }
        uib-accordion p {
            @include text-muted;
        }
    }

    & > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        
        &:last-child { margin-bottom: 0; }
        
        &:after { clear: both; }
        &:before, &:after {
            content: " ";
            display: table;
        }
        
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
            
            @media (min-width: $medium) { padding: 0 30px 20px 20px; }
            @media (min-width: 992px)   { padding: 0 20px 20px; }
            @media (min-width: $large)  { padding: 0 10px 50px 20px; }
        }

        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
            
            @media (min-width: $medium) {
                width: 80%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            @media (min-width: 992px) {
                padding: 0 20px 20px;
            }
            @media (min-width: $large) {
                padding: 0 20px 20px 10px;
            }
        }

        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 100;
            color: white;
            text-align: center;
            
            background-color: $main_green;
            border-radius: 100%;
            border: 0.5px solid $main_green;
            
            @media (min-width: $medium) {
                width: 100px;
                height: 100px;
                left: 5%;
                margin-left: -50px;
                margin-bottom: 100px;
                min-height: 100px;
            }
            @media (min-width: 992px) {
                width: 150px;
                height: 150px;
                margin-left: -75px;
            }
            @media (min-width: $large) {
                width: 170px;
                height: 170px;
                margin-left: -85px;
            }
            
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
                
                @media (min-width: $medium) {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
                @media (min-width: 992px) {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
                @media (min-width: $large) {
                    margin-top: 40px;
                }
            }
        }

        @media (min-width: 992px) { min-height: 150px; }
        @media (min-width: $large){ min-height: 170px; }
    }
    
     .timeline-heading {
        h2 { /*  class="text-grey margin-top green_break padding-half" */
            @include text-grey;
            @include green_break;
            @include padding-half;
        }
        
        h4 {
            margin-top: 0;
            text-transform: uppercase;
            color: inherit;
            font-weight: bold;
        }
    }
}

/* FontAwesome icon size */
.timeline-image {
    span {
        vertical-align: bottom;
        display: inline-block;
        font-size: 28px;

        @media (min-width: $xsmall) { font-size: 42px; }
        @media (min-width: 992px) { font-size: 56px; }
        @media (min-width: $large) { font-size: 75px; }

        strong {
            color: $grey4;
            text-transform: uppercase;
            
            @media (min-width: $xsmall) { font-size: 12px; }
            @media (min-width: $medium) { font-size: 14px; }
            @media (min-width: 992px) { font-size: 18px; }
            @media (min-width: $large) { font-size: 24px; }
        }
    }
    
    img {
        @include img-circle;
    }
    h2 {
         margin-top: -1em;
    }
}
