@import "https://fonts.googleapis.com/css?family=Raleway:400,700";
@import "_common";

@import "_report";
@import "_stripe";

@import "_rz.slider";
@import "_tutorial.timeline";
@import "_footer";
@import "_links";
@import "_help";

@import "_nv.d3";


/*********************************************************************************/
/*                GLOBAL                                                         */
/*********************************************************************************/

/*
html, body {
    height: 100%;
}
*/

ng-form {
    display: block;
    margin-top: 0em;
}

body {
    padding-top: (1.6 * $header-height-large);
    
    /* padding-bottom: 2em; */
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 0.1em;
    font-weight: normal;

    overflow-x: hidden;

    /* less padding for small screen size */
    @media (max-width: $medium) { padding-top: 7em; }
}

/* Prevent page overflow from Bootstrap */
/* This was originally under "footer" */
@media (max-width: $medium) {
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.container-fluid {
    margin: 0;
    padding: 0;
}
.page_content {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

*:focus {
  /* outline: none   !important; */
}

.indent{ text-indent: 25px; }

.cursor-pointer {
  cursor: pointer  !important;
}

@media (max-width: $xsmall) {
    h2 { font-size: 15px; }
    h3 { font-size: 13px; }
    h4 { font-size: 12px; }
    h5 { font-size: 11px; }

    p, li { font-size: 11px;}
}


/****** Sections ******/
@mixin background-dkgrey{ background-color: $grey5; };

.background- {
    &dkgrey{ background-color: $grey5; }
    &white{ background-color: white; }
    &black{ background-color: black; }
    &grey{ background-color: $grey1; }
    &blue{ background-color: $main_blue; }
    &green{ background-color: $main_green; }
    &transparent{ @include background-transparent; }
}

@mixin green_break        { border-bottom:    thin solid $main_green;}; .green_break{@include green_break;}
.grey4_break        { border-bottom:    thin solid $grey4; }
.grey4_side         { border-right:     thin solid $grey4; }
.green_side         { border-right:     thin solid $main_green;}

.blue_break {
    border-top: thin solid $main_blue;
    border-bottom: thin solid $main_blue;
    padding: 0.3em;
}

.img-circle{ @include img-circle; }
.img-responsive {  @include img-responsive; }

@import "_buttons";
@import "_reports";

@import "_sidebar";
@import "_menus";
@import "_header";
@import "_navigation";

@import "_homepage";
@import "_designGuide";
@import "_tools";


/* User Alerts */
input.ng-invalid.ng-touched {
    border: 1px solid red;
}

/* R-logo image */
pre img {
    float: right;
    width: 2em;
}
/* these were added so that touchscreen functionality works in iPhone Safari */
body.modal-open {
    overflow: hidden;
}

.modal-open.modal {
    max-height: none;
    overflow-y: scroll;
}

/*********************************************************************************/
/*                TOOLTIPS                                                       */
/*********************************************************************************/
/* Specify styling for tooltip contents */
tooltip-modal, tooltip-warn, tooltip-link, tooltip {
    cursor: pointer;
}
.tooltip.customClass {
    .tooltip-inner {
        
        text-align: left;
        letter-spacing: 0.05em;
        font-size: 13px;
        
        hr {
            padding: 0;
            margin: 0;
            margin-top: 5px;
            padding-bottom: 5px;
            border: 0;
            border-top: thin solid $grey5;
        }
    }
}

.tooltip-social a {
    color: inherit;
}

.fa-circle {
  color: $main_green;
}


/*********************************************************************************/
/*              TABLES                                                           */
/*********************************************************************************/
.table>thead>tr>th
{
    vertical-align: top;
}
.table>tbody>tr>td>a
{
    /* top | right | bottom | left */
    padding: 10px 0px 0px 10px;
}
.table>tbody>tr>td>a:hover
{
    /*background-color: gray;*/
}


.border {
    border: 1px solid;
    
    &-dashed-grey {
        border: 1px dashed $grey2;
    }
    &-grey {
        border: 1px solid $grey2;
    }
    &-black {
        border: 1px solid black;
    }
    &-green {
        border: 1px $main_green solid;
    }
    &-dkgreen {
        border: 1px $main_green_dk solid;
    }
}

/*********************************************************************************/
/* FORMS                                                                         */
/*********************************************************************************/
iframe {
    /* frameborder="0" */
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    
    width: 100%;
}

/*** Stripe payment form ***/
.stripe-nav {

    width: 100%;
    
    .nav > li > a {
        padding: 10px;
        margin: 0;
        letter-spacing: normal;
    }
}

.form-container {
    background: $grey1;
    margin-bottom: 5em;
    border-radius: 5px;
    color: $grey5;
    
    iframe {
        display: block;
        margin: 0;
        width: 100%;
        position: relative;
        z-index: 20;
        
        &.report {
            width: 100%;
        }
    }
    
    .wait-icon {
        position: absolute;
        margin-top: 100px;
        z-index: 10;
    }
    
    .page-header {
        background: $grey5;
        margin: 0;
        color: $grey1;
        padding-top: 0.5em;
        padding-bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: none;
        
        h2 {
            padding-bottom: 0;
            margin-bottom: 0;
            color: $grey1;
        }
    }
    
    /* Design Guide nav */
    .nav > li > a {
        padding: 0.35em 0 0.35em 0;
        letter-spacing: 0.1em;
        margin-top: 0;
    }
    
    &.disabled {
        pointer-events: none;
        
        .btn {
            opacity: 0.2;
            z-index: 0;
        }

    }
}

.form-group {
    color: $grey5;

    >span {
        margin-right: 20px;
    }
    
    >table>tr {
        margin-bottom: 10px;
    }

    legend {
        color: $main_green_dk;
        font-size: 32px;
        color: $main_green_dk;
        padding-top: 15px;
    }
}

.courier-font {
    font-family: 'Courier New';
}

/* this line for any form with text-area in it */
textarea {
    &.form-control {
        min-width: 100%;
        max-width: 100%;
    }
}

table.borderless 
    {
    border: none;
    
    tbody > tr > td,
    tbody > tr > th {
        border: none;
    }
    
    td, th, tr {
        border: none;
    }
}

.no-center {
    text-align: left !important;
}

.tools_label {
    label {
        font-size: 0.9em;
        margin: 0;
        padding: 0;
        font-weight: normal;
    }

    input[type='number'] {
        -moz-appearance:textfield;  /* so that Firefox doesn't show the increment buttons */
        &:invalid {
            box-shadow: none;
        }
        
        /* This needs to be here for Firefox */
        &[disabled]{
            pointer-events: none;
        }
    }
    
    input[type='radio'] {
        /* height: 30px;*/
    }
    
    input:not([type='radio']) {
        text-align: center;
        margin-top: 1em;
        width: 30%;
        font-weight: normal;
    }
    
    table input {
        margin-top: 0em;
    }
    
    &.power-plot-form{
        
        .slider-div {
            padding: 2em;
            label {
                padding-bottom: 1em;
            }
        }
        label {
            width: 100%;
        }
        
        input[type="radio"] {
            width: 20%;
            margin: 0;
            
            position: relative;
        }
        
        table input:not([type='radio']) {
            text-align: center;
            margin-top: 0em;
            width: 80%;
            font-weight: normal;
        }
        select {
            width: 100%;
            height: 50%;
        }
    }
    
    &.sim-plot {
        select {
            /* width: 300px; */
        }
        
        label {
            font-weight: normal;
            padding: 0;
            margin: 0;
        }
        input {
            display: block;
            width: 100%;
            margin-bottom: 2em;
            margin-top: 0.5em;
        }
        /*
        table
                {
            margin: 0;
            padding: 0;
            
            input {
                width: 60px;
                margin: 0;
                padding: 0;
            }
        }
        */
        .panel {
            padding: 5px;
            font-size: 13px;
        }
    }
}


/*********************************************************************************/
/* MathJax                                                                       */
/*********************************************************************************/

span[math] {
    & h3 {
        font-size: 20px;
    }
}

/* Line Spacing for EULA */
#EULA {
    p {
        padding-bottom: 1.5em;
    }
    ol {
        &>li {
            padding-bottom: 10px;
            ol li {
                padding-top: 10px;
            }
        }
    }
}
