<div class="padding-2em" ng-show="design.isRMPS1() || design.isRMCS1()">
    No power plot for this statistical test yet.
</div>

<form ng-hide="design.isRMPS1() || design.isRMCS1()" ng-controller="powerPlotsController" ng-init="register( updatePlot ); reset(undefined, 'powerplot reset');">

    <div ng-hide="design.isNone()" class="power-plot-form tools_label row">
        <div class="text-center" ng-class='{h2: design.notEmbedded}'> {{design.stat.selectedOption.name}} </div>

        <div class="col-xs-12">
<!-- 2-Way ANOVA -->
            <div ng-if="design.isANOVA2()" class="padding-1em">
                <div class="col-sm-6 col-sm-offset-0" id="aov2_effects">
                    <h4 class="no-center"> What effect are you interested in testing? </h4>

                    <div class="radio padding-left-1em" ng-repeat="str in ['Main Treatment', 'Secondary Treatment', 'Interaction']">
                        <label class=" padding-left-1em">
                            <input type="radio" name="aov2effect" ng-model="data.aov2effect.value" ng-value="str[0]" ng-change="updatePlot()"/> {{str}}
                        </label>
                    </div>
                </div>
                
                <div class="col-sm-5 padding-top-2em">
                    <h4></h4>
                    <table class="table borderless" id="aov2_levels">
                        <tbody>
                            <tr>
                                <td> <label> Main Treatment levels </label> </td>
                                <td> <input type="number" min="2" max="10" ng-model="data.nGroups[0]" ng-change="updatePlot()" ng-disabled="!design.notEmbedded"></input> </td>
                            </tr>
                            <tr>
                                <td> <label> Secondary Treatment levels </label> </td>
                                <td> <input type="number" min="2" max="10" ng-model="data.nGroups[1]" ng-change="updatePlot()" ng-disabled="!design.notEmbedded"></input> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
<!-- Multi-Way ANOVA -->
            <div ng-if="design.isANOVAm()" class="padding-1em">
                <div class="col-sm-4" id="aov3_factors">
                    <label> How many factors are in your study? </label>
                    <div class="radio padding-1em" ng-repeat="ii in [3,4,5]">
                        <label class="">
                            <input type="radio" name="aovmFactors" ng-model="AOVM.nFactors" ng-value="ii" ng-change="combAOVM()" ng-disabled="!design.notEmbedded">
                            {{ii}}
                        </label>
                    </div>
                </div>
                
                <div class="col-sm-4" id="aov3_levels">
                    <label> How many groups are there in each factor? </label>
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tmp in AOVM.comb.display[0] track by $index">
                                <td> <label> {{ tmp }} </label> </td>
                                <td>
                                    <input type="number" min="2" max="10"  ng-disabled="!design.notEmbedded"
                                        ng-model="AOVM.nGroups[$index]" ng-change="updateAOVMselection()" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="col-sm-4">
                    <label> Input Type </label>
                    <select id="aov3_types" ng-model="AOVM.inputTypeSelection" ng-change="interactionHighlight()"
                        ng-options="tmp.label for tmp in AOVM.inputTypeOptions track by tmp.id" size="4">
                    </select>

                    <label> {{AOVM.inputTypeSelection.label}} Interactions</label>
                    <select id="aov3_interactions" size="4" ng-model="AOVM.interactions" ng-change="updateAOVMselection()">
                        <option ng-repeat="tmp in AOVM.comb.display[AOVM.inputTypeSelection.id] track by $index" value="{{$index}}">
                            {{tmp}}
                        </option>
                    </select>
                </div>
                
            </div>
        </div>
        
<!-- The actual plot -->
        <div class="padding-1em col-xs-8" ng-class="{'processing': plotOptions.processing}">
            
            <span class="col-xs-12 text-center" ng-show="plotOptions.processing">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </span><br>
            <nvd3 options="plotOptions" data="plotData" config="chartConfig" id="powerPlot"></nvd3>
            
            <span ng-show="design.notEmbedded" class="text-center">
                <!-- All T-Tests -->
                <span ng-if="design.isTTest1() || design.isTTest2() || design.isTTestPaired()">
                    <div katex>
                        \text{Relative Effect Size} = \frac{\text{effect size}}{\text{measurement SD}}
                    </div>
                </span>
                <!-- 1-Way ANOVA -->
                <span ng-if="design.isANOVA1()">
                    <div katex>
                        \text{Relative Effect Size} = \frac{\text{effect size}}{\text{measurement SD}}
                    </div>
                </span>
                <!-- 2-Way or Multi-Way ANOVAs-->
                <span ng-if="design.isANOVA2() || design.isANOVAm()">
                    <div katex>
                        \text{Relative Effect Size} = \frac{\text{effect size}}{\text{measurement SD}}
                    </div>
                </span>
            </span>
        </div>

        <div class="">
<!-- 1-Way ANOVA or SLM-->
            <div ng-if="design.isANOVA1() || design.isSLM()" class="padding-1em col-xs-4">
                <label> 
                    Enter the number of groups in your study
                    <tooltip-link content="'tooltip.groups'" url="standalone.groups"></tooltip-link>
                </label>
                <input type="number" min="2" max="10" ng-model="data.nGroups[0]" ng-change="updatePlot()" ng-disabled="!design.notEmbedded" id="nGroupsInp0"></input>
            </div>
        </div>
        
<!-- Inputs for all types -->
        <div class="power-plot col-xs-4">
            <div class="padding-1em">
                <label>
                    Choose a level of significance
                    <tooltip-link content="'tooltip.sig'" url="standalone.sig"></tooltip-link>
                </label>
                <select ng-model="data.stat.sig" ng-change="updatePlot()" ng-options="tmp for tmp in data.stat.sigOpts"></select>
            </div>
            
            <div class="">
                <!--
                <div class="slider-div">
                    <label>
                        Statistical Power
                        <tooltip-link content="'tooltip.power'" url="standalone.power"></tooltip-link>
                    </label>
                    <rzslider rz-slider-model="power_slider.minValue" rz-slider-high="power_slider.maxValue" rz-slider-options="power_slider.options"></rzslider>
                </div>
                -->
                
                <div ng-show="design.notEmbedded" class="slider-div">
                    <label>
                        Relative Effect Size
                        <tooltip-link content="'tooltip.effect'" url="standalone.effect"></tooltip-link>
                    </label>
                    <rzslider rz-slider-model="effectSizeRel_slider.minValue" rz-slider-high="effectSizeRel_slider.maxValue" rz-slider-options="effectSizeRel_slider.options"></rzslider>
                </div>
                <div ng-show="!design.notEmbedded" class="slider-div">
                    <label>
                        Effect Size
                        <tooltip-link content="'tooltip.effectAbs'" url="standalone.effect"></tooltip-link> 
                    </label>
                    <rzslider rz-slider-model="effectSize_slider.minValue" rz-slider-high="effectSize_slider.maxValue" rz-slider-options="effectSize_slider.options"></rzslider>
                </div>
                
                <div class="slider-div">
                    <label>
                        Sample Size per Group
                        <tooltip-link content="'tooltip.sample'" url="standalone.samplesize"></tooltip-link>
                    </label>
                    <rzslider rz-slider-model="sampleSize_slider.minValue" rz-slider-high="sampleSize_slider.maxValue" rz-slider-options="sampleSize_slider.options"></rzslider>
                </div>
            </div>
        </div>
        
    </div>
    
    <div ng-show="design.isNone()" class="padding-top-2em padding-bottom-2em"></div>
    
</form>
