<ng-form class="form_tools background-grey padding-bottom-1em" ng-init="register( updateSimPlot ); loaded=false;" name="simForm">
    
    <!-- spinner if plot is updating -->
    <span class="col-xs-12 text-center padding-top-2em" ng-show="myOptions.processing">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </span><br>
    
    <div class="row tools_label sim-plot padding-2em" ng-model-options="{debounce: 200}">
    
        <div ng-if="design.isANOVA2()" ng-include="'static/partials/webpage_tools/tools.sims.2Way.html'" ></div>
    
        <div ng-if="design.isANOVAm() && data.nLevels3.length==3" ng-include="'static/partials/webpage_tools/tools.sims.3Way.html'" ></div>
        
        <div ng-if="design.isANOVA1() || design.isTTest2()">
            <div class="col-sm-3 table-responsive">
                <table class="table align-middle"><tbody>
                    <tr>
                        <td> <label>Number of subjects per group </label> </td>
                        <td> <input type="number" name="nSubjects" min="2" step="1" ng-model="data.n" ng-change="updateSimPlot()" ng-disabled="!design.notEmbedded" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.samplesize" content="'tooltip.sample'" ng-show="checkValid(simForm, 'nSubjects')"></tooltip-link>
                            
                            <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'nSubjects')"></tooltip-link>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> <label>Standard Deviation</label> </td>
                        <td> <input type="number" name="std" min="0.001" step="0.001" ng-model="data.std" ng-change="updateSimPlot()" ng-disabled="!design.notEmbedded" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.stdev" content="'tooltip.std'" ng-show="checkValid(simForm, 'std')"></tooltip-link>
                            
                           <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'std')"></tooltip-link>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> <label>Significance Level</label> </td>
                        <td> <input type="number" name="sig" min="0.001" step="0.001" max="0.999" ng-model="data.sig" ng-change="updateSimPlot()" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.sig" content="'tooltip.sig'"  ng-show="checkValid(simForm, 'sig')"></tooltip-link>
                            
                            <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'sig')"></tooltip-link>
                        </td>
                    </tr>
                    
                    <tr ng-show="!design.isTTest2()">
                        <td> <label> Mean response for control group </label> </td>
                        <td> <input type="number" name="mu" min="-100000" max="100000" step="0.01" ng-model="data.mu" ng-change="updateSimPlot()" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.groups" content="'tooltip.groups'" ng-show="checkValid(simForm, 'mu')"></tooltip-link>
                            
                            <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'mu')"></tooltip-link>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> <label>Effect Size</label> </td>
                        <td> <input type="number" name="es" min="0.001" step="0.001" ng-model="data.effectSize" ng-change="updateSimPlot()" ng-disabled="!design.notEmbedded" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.effect" content="'tooltip.effect'" ng-show="checkValid(simForm, 'es')"></tooltip-link>
                            
                            <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'es')"></tooltip-link>
                        </td>
                    </tr>
                    
                    <tr ng-show="design.isANOVA1()">
                        <td> <label> Number of comparison groups </label> </td>
                        <td> <input type="number" name="pinp" min="2" max="10" step="1" ng-model="data.p" ng-change="updateSimPlot()" ng-disabled="!design.notEmbedded" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.groups" content="'tooltip.groups'"  ng-show="checkValid(simForm, 'pinp')"></tooltip-link>
                            
                            <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'pinp')"></tooltip-link>
                        </td>
                    </tr>
                </tbody></table>
                <p class="panel padding-2em text-bold">
                    power: <span ng-bind="data.powerVal[0]"></span> <br>
                </p>
            </div>
            
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="updateSimPlot()" id="simbtn"> Simulate Random Experiment</button>
                    
                        <h4> 
                            p-value this simulation: <span ng-bind="data.pVal[0].toExponential(3)"></span>
                        </h4>
                    </div>
                </div>
                
                <div ng-class="{'processing': myOptions.processing}">
                    <span class="col-xs-12 text-center" ng-show="myOptions.processing">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </span><br>
                    <nvd3 options="myOptions" data="myData" config="chartConfig"></nvd3>

                    <div class="grey4_break margin-bottom-2em padding-bottom-2em"></div>
                    <h4 class="text-bold"> Quantile plot </h4>
                    <nvd3 options="boxPlots.options" data="boxPlots.data" config="chartConfig"></nvd3>
                </div>
            </div>
        </div>

        <div ng-show="simPlotExists()" class="col-xs-4" ng-controller="fileController">
            CSV Data Out
            <tooltip content="'You can save the simulation data to use as a template file in CSV format, allowing you to replace the simulated outcome measure with your own observations. You can then load the resulting data file into our data analysis tool (or R, SPSS, or any other data analysis package for that matter)! '"></tooltip>
            
            <textarea class="form-control courier-font" ng-model="data.dataIn"></textarea>
            <button type="button" class="btn btn-primary" ng-click="downloadCSV(data.dataIn)">Download sim data to file</button>
        </div>
        
        <div ng-hide="simPlotExists()" id="no_sim_text">
            No simulation for this type yet.
            <span ng-if="design.isANOVAm() && data.nLevels3.length!=3">Simulations are for <b>3</b> factors at most.</span>
        </div>
    </div>
    
</ng-form>
