/********************************/
/*   color references           */
/*                              */
/*$main_green:      #c8e04b;    */
/*$main_green_lt:   #a0b33c;    */
/*$main_green_dk:   #8c9c34;    */
/*$main_blue:       #7b95a7;    */
/*$grey5:           #404040;    */
/*$grey1:           #ECECEC;    */
/********************************/

@import "http://fonts.googleapis.com/css?family=Raleway:400,700";

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: $black;
    letter-spacing: .1em;
    font-weight:normal;
    background:#ECECEC;
    margin-bottom: 1em;
}

label{
    margin-left:2em;
    padding:1em;
    letter-spacing:.2em;
}

hr{
    border-bottom: thin solid $main_green;
    padding-bottom:1em;
}

select {
    
    /* Size and position */
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: $grey5;
    border-radius: 7px;
    border: 0px solid $grey5;
    cursor: pointer;
    outline: none;

    /* Font settings */
    letter-spacing:.3em;
    color: $main_green;
    text-decoration: none;
}

select option{
    letter-spacing:.3em;
    background:$grey5;
    text-decoration: none;
    color: $main_green;
    border-bottom: 0px solid $grey5;
}

select option:hoover {
    background:$grey2;
}


h1 {
  color: #404040;
  border-bottom: thin solid #c8e04b;
  }
  
h3 {
  margin-left:2em;
  padding:1em;
  letter-spacing:.2em;
}

h5 {
  color: #c8e04b;
  margin-top:1em;
  padding:1em;
  font-weight:500;
  text-align:center;
  letter-spacing: .1em;
  background:#404040;
  border-radius:2pt;
}

h5 ul {
  list-style: none;
}
h5 ul li{
  padding-left:3em;
  text-align: left;
}

h2 {
  padding-bottom:10em;
  background: background:#ECECEC;
}  

.container-fluid {
  background:#ECECEC;
  height: inherit;
}

.control-label {
  font-family:'Raleway';
  letter-spacing: .1em;
  color: #404040;
}

.shiny-input-radiogroup input[type='radio'] {
    -webkit-appearance:none;
    width:17px;
    height:17px;
    border:1px solid #404040;
    border-radius:50%;
    outline:none;
    box-shadow:0 0 1px 0px gray inset;
}

.shiny-input-radiogroup input[type='radio']:hover {
    box-shadow:0 0 5px 0px orange inset;
}

.shiny-input-radiogroup input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}

.shiny-input-radiogroup input[type='radio']:checked:before {
    background:#c8e04b;
    border:1px solid #8c9c34;
}

/* Remove controls from Firefox */
.form-group input[type=number], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #404040;
}
 
.form-group input[type=number]:focus, textarea:focus {
  box-shadow: 0 0 5px #c8e04b;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #c8e04b;
}

.btn-group {
  text-align: center;
}

.shiny_button{
  background-color:#c8e04b;
  border-color: #c8e04b;
  border-radius:0;
  padding:2em 0 2em 0;
  width:100%;
  color: black;
  letter-spacing: .1em;
}

.shiny_button:hover, .shiny_button:focus {
  background-color: #a0b33c;
  border-color: #a0b33c;
  color: black;
}

.shiny_button:active, .shiny_button.active {
  background-color: #c8e04b;
  border-color: #c8e04b;
  color: black;
}

.alert {
  background-color: #404040;
  color:#c8e04b;
  border-radius: 50%;
  text-align: center;
  width: 70%;
  height: 10%;
}

/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */
.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(sprite-skin-flat.png) repeat-x;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 12px; top: 25px;
}
    .irs-line-left {
        height: 12px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 12px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 12px;
        background-position: 100% -30px;
    }

.irs-bar {
    height: 12px; top: 25px;
    background:#c8e04b;
    border:#c8e04b;
    background-position: 0 -60px;
}
    .irs-bar-edge {
        top: 25px;
        background:#c8e04b;
        height: 12px; width: 9px;
        background-position: 0 -90px;
        border:#c8e04b;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    width: 16px; height: 18px;
    top: 22px;
    background: #c8e04b;
    background-position: 0 -120px;
}
.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
    background: #a0b33c;
}

.irs-min, .irs-max {
    color: #ECECEC;
    text-shadow: none;
    top: 0;
    background: #ECECEC;
}

.irs-from, .irs-to, .irs-single {
    color: #404040;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #c8e04b;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #404040;
}


.irs-grid-pol {
    background: #404040;
}
.irs-grid-text {
    color: #404040;
}

.irs-disabled {
} 


