
<!-- Report for Reports Page of Design Guide Questionnaire -->
<div class="col-sm-10">
    <div class="text-center padding-bottom-2em padding-top-2em">
        <h2 class="text-grey">Billing</h2> 
    </div>

    <button type="button" class="btn" ng-click="getAccountInfo()">
        <i class="fa fa-refresh" ng-class="{'fa-spin': display.refreshInProg}" aria-hidden="true"></i>
    </button>

    <div ng-if="authService.payment.ended">
        <table class="table table-bordered">
            <tr>
                <td> Email </td>
                <td><span ng-bind="custInfo.email"></td>
            </tr>
        </table>
        <p>
            Your subscription has expired. 
            If you wish to continue using MySampleSize, please renew your subscription below.
        </p>
        
        <hr class="green_break">
        
        <h4 class=""> Renew Subscription </h4>
        <div ng-init="display.updatePaymentMethod=true" 
            ng-if="!display.refreshInProg" 
            ng-include="'static/partials/webpage_auth/payment_form.html'" />
    </div>
</div>

<div ng-if="!authService.payment.ended">
    <div ng-if="!authService.payment.delinquent">
        <br>

        <div ng-if="info.cancel_at_period_end" class="padding-bottom-2em">
            <strong class="text-red">
                You have cancelled your subscription. To renew, please contact us.
            </strong>
        </div>

        <div ng-if="info.discount">
            You are under a group discount. Please contact your administrator for details.
        </div>
    </div>

    <div ng-if="true || !info.discount">
        <div ng-include="'static/partials/webpage_auth/account.single_user_info.html'"></div>
    </div>
    
    <!------------------------------------------------------------->
    <div ng-if="!info.cancel_at_period_end && !info.discount">
        <div class="row padding-bottom-2em margin-bottom-2em">
            <div class="col-xs-4">
                <button type="button" class="btn btn-info" ng-click="display.updatePaymentMethod = !display.updatePaymentMethod">
                    Update payment method
                    <span class="fa fa-chevron-down" ng-show="!display.updatePaymentMethod"></span>
                    <span class="fa fa-chevron-up" ng-show="display.updatePaymentMethod"></span>
                </button>
            </div>
            
            <div class="col-xs-4">
                <button type="button" class="btn btn-warning" ng-click="openCancelSubscriptionModal()">
                    Cancel subscription
                    <span class="fa fa-chevron-right"></span>
                </button>
            </div>

        </div>
        
        <!------------------------------------------------------------->
        <div class="col-sm-12 padding-bottom-2em row cell" 
            ng-show="info.delinquent || display.updatePaymentMethod" 
            ng-init="make_stripe_update_form()">
            
            <div ng-show="info.delinquent">
                Your payment is delinquent. Please update your credit card information below.
                If you have already updated your payment method please contact us.
            </div>
            <div ng-show="display.updatePaymentMethod">
                Update your credit card information below.
            </div>
            
            <form id="payment-update-form" class="padding-top-2em">
                <fieldset>
                    <div class="form-row" id="">
                        <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert"></div>
                    </div>
                </fieldset>
                <button class="btn btn-warning" type="submit" data-tid="elements_examples.form.pay_button">
                    Update Information
                </button><br>
                <img class="stripe-logo" ng-src="static/img/stripe-badges/powered_by_stripe.outline.light.svg" />
                If you have any questions, please <a ui-sref="help.contact">contact us</a>.
            </form>
            <div class="col-xs-2 col-xs-offset-5" ng-show="stripe.in_progress">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </div>

            <div ng-show="stripe.error" class="row cell success">
                Error: <span ng-bind="stripe.message"></span>
            </div>

            <div ng-show="stripe.processed" class="row cell success">
                Your payment information has been updated. <span ng-bind="stripe.message"></span>
                <br><br>
            </div>
        </div>
    </div>
</div>
