
<div class="modal-header">
    <h3 class="modal-title">
        Design Guide: a worked example
        <button class="btn btn-primary pull-right" type="button" ng-click="cancel()">X</button>
    </h3>
</div>

<div class="modal-body">
    Click the button below to populate the <a ui-sref="design_guide">Design Guide</a> with an example from 
    <a ui-sref="case_ex1">Case Study 1</a>.
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()"> OK </button>
</div>
