    <li ui-sref-active="active"><a ui-sref="help.statbasics.home" ng-click="cancel()">  Statistical Basics </a></li>
    <li ui-sref-active="active"><a ui-sref="help.stattests.home" ng-click="cancel()">   Statistical Tests </a></li>
    <li ui-sref-active="active"><a ui-sref="help.designtype" ng-click="cancel()">       Design Types </a></li>
    <li ui-sref-active="active"><a ui-sref="help.tutorial.home" ng-click="cancel()">    Tutorial </a></li>
    <li ui-sref-active="active"><a ui-sref="help.case" ng-click="cancel()">             Case Studies </a></li>
    <li ui-sref-active="active"><a ui-sref="help.faq" ng-click="cancel()">              FAQ </a></li>
    <li ui-sref-active="active"><a ui-sref="help.glossary" ng-click="cancel()">         Glossary/Refs</a></li>
    <li ui-sref-active="active"><a ui-sref="help.contact" ng-click="cancel()">          Contact Us </a></li>
