<div class="col-sm-12" id="designguideHome" ng-controller="designGuideWalkthroughController" ng-init=" design.notEmbedded=false;">
    <div class="page_content padding-top-1em">
        <div class="dg-nav sticky-nav text-center"
             ng-init="designPages = ['start', 'treatments', 'factors', 'outcome', 'calc', 'end'];">
            <uib-tabset justified="true" active="formData.step" class="hidden-xs">
                <!-- add the active class if the state matches our ui-sref -->
                <uib-tab ng-repeat="name in designPages" ng-click="$last || setStep($index)" disable="$last" select="changeSwipeClass($index)">
                    <uib-tab-heading>
                        <div ng-if="$index==0"> Getting<br>Started </div>
                        <div ng-if="$index==1"> Treatment<br>Factors </div>
                        <div ng-if="$index==2"> Nontreatment<br>Factors </div>
                        <div ng-if="$index==3"> Outcome<br>Measures </div>
                        <div ng-if="$index==4"> Sample<br>Size </div>
                        <div ng-if="$index==5" id="dgReportMouseMove" tooltip-placement="bottom" uib-tooltip="Go through each step of the Design Guide to generate the report. The final step to run before the report can be generated is 'Simulate Your Design' in Tab 'Sample Size'."> Summary<br>Report </div>
                    </uib-tab-heading>
                </uib-tab>
            </uib-tabset>
        </div>

        <div class="form-container" ng-class="{'disabled': inProgress}">
            <div class="page-header spacing text-center" id="scrollArea">
                <h2>
                    Design Guide Questionnaire<br>
                    <small>the step-by-step questionnaire to determine your experimental design</small>
                </h2>
                
                <!-- the links to our nested states using relative paths -->
                <div>
				
                    <div class="row padding-top-1em padding-bottom-1em">
                        <ul class="nav dropdown" id="walkthrough_container">
                            <li>
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button"ng-click="loadDataModal()">Load Data</button>
                            </li>

                            <li>
                                <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown" type="button"ng-click="saveDataModal()">Save Data</button>
                            </li>

                            <li ng-hide="formData.step==5" id="walkthrough_btn">
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" type="button">Walkthrough</button>
                                <ul class="dropdown-menu">
                                    <li class="text-grey3 h5 padding-left-1em padding-right-1em" 
                                        style="text-transform: none; letter-spacing: normal;">
                                        <i>
                                        The walkthrough will include a step-by-step guide to <br>
                                        filling out the Design Guide. The "Fill Example" link will <br>
                                        populate the questionnaire with an example from Case Study 1.
                                        </i>
                                        <br>
                                    </li>
                                    <li class="cursor-pointer"><a ng-click="tourInit(formData.step);"><b> Begin Walkthrough </b> </a></li>
                                    <li class="cursor-pointer"><a ng-click="fillForm();"><b> Fill example </b> </a></li>		
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    <!-- "Back/Next" buttons for small screen -->
                    <div class="visible-xs-block form-group row">
                        <a ng-click='stepDown()' class="btn btn-primary" ng-disabled="formData.step==0">
                            <span class="fa fa-angle-double-left"></span>
                            Back
                        </a>
                        <a ng-click='stepUp()' class="btn btn-primary" ng-disabled="formData.step==5">
                            Next
                            <span class="fa fa-angle-double-right"></span>
                        </a>
                        <div class="text-green">
                            <span ng-bind="formData.step+1"></span> / <span ng-bind="designPages.length"></span>
                        </div>
                    </div><!-- end small screen -->

                </div><!-- end page count -->

                
            </div> <!-- end header -->
           
            <!-- use ng-submit to catch the form submission and use our Angular function -->

            <ng-form class="basic-form">
            
                <!-- display experimental design page based on "step" -->
                <div ng-repeat="name in designPages">
                    <div ng-if="$index==formData.step" class="{{swipe_class.name}}">
                        <!-- HTML template -->
                        <div data-ng-include="'/static/partials/webpage_design/guide/quiz.'+name+'.html'" ui-tour="{{name}}"></div>
                        
                        <!-- "Next" button -->
                        <div class="form-group row" ng-show="!($last || $index==2 || $index==4)" class="swipe-views">
                            <div class="green_break margin-bottom-2em"> </div>
                            <div class="col-xs-6 col-xs-offset-3" id="dg-steps">
                                <a ng-click='stepUp(); ' class="btn btn-block btn-primary">
                                    Next Section
                                    <span class="fa fa-angle-double-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </ng-form>

        </div> <!-- end form container -->
    </div> 
</div>
