<div id="designguideNoauth">
<div class="row text-center">
    <div class="col-sm-12 padding-bottom-1em spacing">
        <h3>DESIGN GUIDE</h3>
    </div>
</div>

<div class="background-grey padding-top-1em text-center text-grey">
    <div class="row">
        <h4> the step-by-step questionnaire to determine your experimental design </h4>
    </div>
</div>

<div ng-include="'static/partials/noauth.html'"></div>

<p class="border-dkgreen background-grey padding-1em col-xs-8 col-xs-offset-1">
    Below, you will find a preview of the capabilities of the Design Guide which comes with a printable report you can use in your grant proposals.
</p>

<div class="green_break row padding-bottom-2em">
    <div class="col-xs-8 col-xs-offset-1">
        <div ng-include="'static/partials/webpage_help/tutorial/tutorial.designguide.html'"></div>
    </div>
</div>
</div>