{% if request.path == '/' %}
    {% include 'structured_data/webPage.html' %}
{% endif %}

{% if request.path == '/404.html' %}
    {% include 'structured_data/webPage.html' %}
{% endif %}

{% if request.path == '/design_guide' %}
    {% include 'structured_data/design_guide.html' %}
{% endif %}

{% if request.path == '/tools/' %}
    {% include 'structured_data/tools.html' %}
{% endif %}

{% if request.path == '/tools/sample_size' %}
    {% include 'structured_data/tools.sample_size.html' %}
{% endif %}

{% if request.path == '/tools/power_size' %}
    {% include 'structured_data/tools.power_size.html' %}
{% endif %}

{% if request.path == '/tools/power_graph' %}
    {% include 'structured_data/tools.power_graph.html' %}
{% endif %}

{% if request.path == '/tools/rng' %}
    {% include 'structured_data/tools.rng.html' %}
{% endif %}

{% if request.path == '/tools/analysis' %}
    {% include 'structured_data/tools.analysis.html' %}
{% endif %}

{% if request.path == '/tools/simulations' %}
    {% include 'structured_data/tools.simulations.html' %}
{% endif %}

{% if request.path == '/tools/report' %}
    {% include 'structured_data/tools.report.html' %}
{% endif %}

{% if request.path == '/auth/home' %}
    {% include 'structured_data/auth.home.html' %}
{% endif %}

{% if request.path == '/auth/signup' %}
    {% include 'structured_data/auth.signup.html' %}
{% endif %}

{% if request.path == '/auth/logout.html' %}
    {% include 'structured_data/webPage.html' %}
{% endif %}

{% if request.path == '/account/' %}
    {% include 'structured_data/account.html' %}
{% endif %}

{% if request.path == '/account/billing' %}
    {% include 'structured_data/account.billing.html' %}
{% endif %}

{% if request.path == '/account/update' %}
    {% include 'structured_data/account.update.html' %}
{% endif %}

{% if request.path == '/account/projects' %}
    {% include 'structured_data/account.projects.html' %}
{% endif %}

{% if request.path == '/report/' %}
    {% include 'structured_data/report.html' %}
{% endif %}

{% if request.path == '/report/supplement' %}
    {% include 'structured_data/report.supplement.html' %}
{% endif %}

{% if request.path == '/report/checklist' %}
    {% include 'structured_data/report.checklist.html' %}
{% endif %}

{% if request.path == '/report/userprojects' %}
    {% include 'structured_data/report.userprojects.html' %}
{% endif %}

{% if request.path == '/report/power' %}
    {% include 'structured_data/report.power.html' %}
{% endif %}

{% if request.path == '/help/' %}
    {% include 'structured_data/help.html' %}
{% endif %}

{% if request.path == '/help/faq' %}
    {% include 'structured_data/help.faq.html' %}
{% endif %}

{% if request.path == '/help/glossary' %}
    {% include 'structured_data/help.glossary.html' %}
{% endif %}

{% if request.path == '/help/casestudies' %}
    {% include 'structured_data/help.casestudies.html' %}
{% endif %}

{% if request.path == '/help/contact_us' %}
    {% include 'structured_data/help.contact_us.html' %}
{% endif %}

{% if request.path == '/help/designtypes' %}
    {% include 'structured_data/help.designtypes.html' %}
{% endif %}

{% if request.path == '/help/tutorial/' %}
    {% include 'structured_data/help.tutorial.html' %}
{% endif %}

{% if request.path == '/help/tutorial/overview' %}
    {% include 'structured_data/help.tutorial.overview.html' %}
{% endif %}

{% if request.path == '/help/tutorial/designguide' %}
    {% include 'structured_data/help.tutorial.designguide.html' %}
{% endif %}

{% if request.path == '/help/tutorial/tools' %}
    {% include 'structured_data/help.tutorial.tools.html' %}
{% endif %}

{% if request.path == '/help/tutorial/reports' %}
    {% include 'structured_data/help.tutorial.reports.html' %}
{% endif %}

{% if request.path == '/help/stattests/' %}
    {% include 'structured_data/help.stattests.html' %}
{% endif %}

{% if request.path == '/help/stattests/overview' %}
    {% include 'structured_data/help.stattests.overview.html' %}
{% endif %}

{% if request.path == '/help/stattests/significance' %}
    {% include 'structured_data/help.stattests.significance.html' %}
{% endif %}

{% if request.path == '/help/stattests/mean_std_es' %}
    {% include 'structured_data/help.stattests.mean_std_es.html' %}
{% endif %}

{% if request.path == '/help/stattests/ttest_def' %}
    {% include 'structured_data/help.stattests.ttest_def.html' %}
{% endif %}

{% if request.path == '/help/stattests/t1' %}
    {% include 'structured_data/help.stattests.t1.html' %}
{% endif %}

{% if request.path == '/help/stattests/t2' %}
    {% include 'structured_data/help.stattests.t2.html' %}
{% endif %}

{% if request.path == '/help/stattests/tI' %}
    {% include 'structured_data/help.stattests.tI.html' %}
{% endif %}

{% if request.path == '/help/stattests/anova_def' %}
    {% include 'structured_data/help.stattests.anova_def.html' %}
{% endif %}

{% if request.path == '/help/stattests/anova' %}
    {% include 'structured_data/help.stattests.anova.html' %}
{% endif %}

{% if request.path == '/help/stattests/2anova' %}
    {% include 'structured_data/help.stattests.2anova.html' %}
{% endif %}

{% if request.path == '/help/stattests/3anova' %}
    {% include 'structured_data/help.stattests.3anova.html' %}
{% endif %}

{% if request.path == '/help/stattests/anova_rep' %}
    {% include 'structured_data/help.stattests.anova_rep.html' %}
{% endif %}

{% if request.path == '/help/statbasics/' %}
    {% include 'structured_data/help.statbasics.html' %}
{% endif %}

{% if request.path == '/help/statbasics/overview' %}
    {% include 'structured_data/help.statbasics.overview.html' %}
{% endif %}

{% if request.path == '/help/statbasics/significance' %}
    {% include 'structured_data/help.statbasics.significance.html' %}
{% endif %}

{% if request.path == '/help/statbasics/stdev' %}
    {% include 'structured_data/help.statbasics.stdev.html' %}
{% endif %}

{% if request.path == '/help/statbasics/groups' %}
    {% include 'structured_data/help.statbasics.groups.html' %}
{% endif %}

{% if request.path == '/help/statbasics/samplesize' %}
    {% include 'structured_data/help.statbasics.samplesize.html' %}
{% endif %}

{% if request.path == '/help/statbasics/effect' %}
    {% include 'structured_data/help.statbasics.effect.html' %}
{% endif %}

{% if request.path == '/help/statbasics/power' %}
    {% include 'structured_data/help.statbasics.power.html' %}
{% endif %}

{% if request.path == '/help/statbasics/effect_anova' %}
    {% include 'structured_data/help.statbasics.effect_anova.html' %}
{% endif %}

{% if request.path == '/help/statbasics/effect_cohen' %}
    {% include 'structured_data/help.statbasics.effect_cohen.html' %}
{% endif %}

