<div ng-show="nTotalGroups==1">
    <h3>Crossover, single outcome repeated:</h3>
    <p> 
        Based on your design choices, you have <b><i class="bg-info text-bold" ng-bind="nTotalGroups"></i></b> distinct groups. In a typical crossover design, we use this same number to set up the time pattern of treatments. 
    </p>

    <fieldset class="form-group">
        <label>Enter the standard deviation for the within-subjects measurement variability:</label>
        <tooltip-modal content="tooltip.repMeasPSWS" modal="'sdWithinSubjects'"></tooltip-modal>
        <input type="text" class="form-control" ng-model="formData.repMeas.withinSD" placeholder="placeholder">
    </fieldset>

    <fieldset class="form-group">
        <label>Enter the standard deviation for the between-subjects measurement variability:</label>
        <tooltip-modal content="tooltip.repMeasPSBS" modal="'sdBetweenSubjects'"></tooltip-modal>
        <input type="text" class="form-control" ng-model="formData.repMeas.betweenSD" placeholder="placeholder">
    </fieldset>

    <fieldset class="form-group">
        <label>How large of an effect do you expect? </label>
        <tooltip-modal content="tooltip.largeDiff" modal="'largeDiff'"></tooltip-modal>
        <input type="text" class="form-control" ng-model="formData.effectSizeLarge" placeholder="Numbers only! Please do not type units, just values!">
    </fieldset>

    <fieldset class="form-group">        
        <label>What is the smallest effect that would be scientifically relevant?</label>
        <tooltip-modal content="tooltip.smallDiff" modal="'smallDiff'"></tooltip-modal>
        <input type="text" class="form-control" ng-model="formData.effectSize" placeholder="Numbers only! Please do not type units, just values!">
    </fieldset>
</div>

<div ng-show="nTotalGroups>1">
    <h3>Crossover, single outcome repeated:</h3>
    <p>
        Based on your design choices, you have <b><i class="bg-info text-bold" ng-bind="nTotalGroups"></i></b> distinct groups. Crossover experiments with multiple treatments and/or other factors must be designed very carefully. Please <a ui-sref="help.home" target="_blank"><button type="button" class="btn btn-primary">contact us</button></a> so we can discuss your needs and help you with an efficient and effective design.
    </p>    
</div>
