<ng-form class="form_tools background-grey padding-bottom-1em" ng-init="register( updateSimPlot ); loaded=false;" name="simForm">
    
    <!-- spinner if plot is updating -->
    <span class="col-xs-12 text-center padding-top-2em" ng-show="myOptions.processing">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </span><br>
    
    <div class="row tools_label sim-plot padding-2em" ng-model-options="{debounce: 200}">
        <div ng-if="design.isANOVA2()" ng-include="toolsPath+'analysis/tools.sims.2Way.html'" ></div>
    
        <div ng-if="design.isANOVAm() && data.nLevels3.length==3" ng-include="toolsPath+'analysis/tools.sims.3Way.html'" ></div>
        
        <div ng-if="design.isANOVA1() || design.isTTest2()">
            <div class="col-sm-3 table-responsive">
                <table class="table align-middle"><tbody>
                    <tr>
                        <td colspan="3"><div ng-include="toolsPath+'analysis/uploadFileAndDisplayCSV.html'"></div></td>
                    </tr>
                    
                    <tr>
                        <td> <label>Number of subjects per group </label> </td>
                        <td>
                            <table class="table-responsive table-bordered table-condensed">
                                <thead>
                                    <td> <label> Group </label></td>
                                    <td><label> n</label> </td>
                                </thead>
                                <tr ng-repeat="sampSize in data.n track by $index">
                                    <td> <label> {{$index+1}} </label> </td>
                                    <td> {{sampSize}} </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td> <label>Significance Level</label> </td>
                        <td> <input type="number" name="sig" min="0.001" step="0.001" max="0.999" ng-model="data.sig" ng-change="updateSimPlot()" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.sig" content="'tooltip.sig'"  ng-show="checkValid(simForm, 'sig')"></tooltip-link>
                            
                            <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'sig')"></tooltip-link>
                        </td>
                    </tr>
                    <tr ng-show="design.isANOVA1()">
                        <td> <label> Number of comparison groups </label> </td>
                        <td> <input type="number" name="pinp" min="2" max="10" step="1" ng-model="data.p" ng-change="updateSimPlot()" ng-disabled="true" ng-required="true" /> </td>
                        <td>
                            <tooltip-link url="standalone.groups" content="'tooltip.groups'"  ng-show="checkValid(simForm, 'pinp')"></tooltip-link>
                            
                            <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'pinp')"></tooltip-link>
                        </td>
                    </tr>
                </tbody></table>
            </div>
            
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary" ng-click="updateSimPlot()" id="simbtn"> Analyze Data </button>
                        <tooltip-modal content="tooltip.analyzedata" modal="'analyzedata'"></tooltip-modal>
                        
                        <h4> 
                            p-value: <span ng-bind="data.pVal[0].toExponential(3)"></span>
                        </h4>
                    </div>
                </div>
                <div ng-if="data.error"><b>Error</b>: {{data.error}}</div>
                <div ng-hide="data.error" ng-class="{'processing': myOptions.processing}">
                    <span class="col-xs-12 text-center" ng-show="myOptions.processing">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </span><br>
                    <nvd3 options="myOptions" data="myData" config="chartConfig"></nvd3>

                    <div class="grey4_break margin-bottom-2em padding-bottom-2em"></div>
                    <h4 class="text-bold"> Quantile plot </h4>
                    <nvd3 options="boxPlots.options" data="boxPlots.data" config="chartConfig"></nvd3>
                </div>
            </div>
        </div>

        <div ng-hide="simPlotExists()" id="no_sim_text">
            No data analysis for this type yet.
            <span ng-if="design.isANOVAm() && data.nLevels3.length!=3">Simulations are for <b>3</b> factors at most.</span>
        </div>
    </div>
    
</ng-form>
