
<div class="col-sm-3 table-responsive" ng-init="checkValid(simForm); updateSimPlot()">
    <table class="table align-middle"><tbody>
        <tr>
            <td colspan="3"><div ng-include="toolsPath+'analysis/uploadFileAndDisplayCSV.html'"></div></td>
        </tr>

        <tr>
            <td> <label>Number of subjects per group </label> </td>
            <td>
                <table class="table-responsive table-bordered table-condensed">
                    <thead>
                        <td> <label> Group </label></td>
                        <td><label> n</label> </td>
                    </thead>
                    <tr ng-repeat="sampSize in data.n track by $index">
                        <td> <label> {{$index+1}} </label> </td>
                        <td> {{sampSize}} </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td> <label>Significance Level</label> </td>
            <td> <input type="number" name="sig3" min="0.001" step="0.001" max="0.999" ng-model="data.sig" ng-change="updateSimPlot()" ng-required="true" /> </td>
            <td>
                <tooltip-link url="standalone.sig" content="'tooltip.sig'"  ng-show="checkValid(simForm, 'sig3')"></tooltip-link>
                
                <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'sig3')"></tooltip-link>
            </td>
        </tr>
            <td> <label> Number of levels in Main Factor </label> </td>
            <td> <input type="number" name="n1_3" min="2" max="10" step="1" ng-model="data.nLevels3[0]" ng-disabled="true" ng-required="true" /> </td>
            <td>
                <tooltip-link url="standalone.groups" content="'tooltip.groups'"  ng-show="checkValid(simForm, 'n1_3')"></tooltip-link>
                
                <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'n1_3')"></tooltip-link>
            </td>
        </tr>
        
        <tr>
            <td> <label> Number of levels in Second Factor </label> </td>
            <td> <input type="number" name="n2_3" min="2" max="10" step="1" ng-model="data.nLevels3[1]" ng-disabled="true" ng-required="true" /> </td>
            <td>
                <tooltip-link url="standalone.groups" content="'tooltip.groups'"  ng-show="checkValid(simForm, 'n2_3')"></tooltip-link>
                
                <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'n2_3')"></tooltip-link>
            </td>
        </tr>
        
        <tr>
            <td> <label> Number of levels in Third Factor </label> </td>
            <td> <input type="number" name="n3_3" min="2" max="10" step="1" ng-model="data.nLevels3[2]" ng-disabled="true" ng-required="true" /> </td>
            <td>
                <tooltip-link url="standalone.groups" content="'tooltip.groups'"  ng-show="checkValid(simForm, 'n3_3')"></tooltip-link>
                
                <tooltip-warn content="'Invalid input'" ng-show="!checkValid(simForm, 'n3_3')"></tooltip-link>
            </td>
        </tr>
    </tbody></table>
</div>

<div class="col-sm-9">
    
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" ng-click="updateSimPlot()"> Analyze Data </button>
            <tooltip-modal content="tooltip.analyzedata" modal="'analyzedata'"></tooltip-modal>
            
            <table class="table table-condensed small">
                <thead>
                    <td> Factor / Interaction </td>
                    <td> p-value this simulation: </td>
                </thead>
                <tbody>
                    <tr>
                        <td> Main </td>
                        <td> <span ng-bind="data.pVal[0].toExponential(3)"></span> </td>
                    </tr>
                    <tr>
                        <td> Second </td>
                        <td> <span ng-bind="data.pVal[1].toExponential(3)"></span> </td>
                    </tr>
                    <tr>
                        <td> Third </td>
                        <td> <span ng-bind="data.pVal[2].toExponential(3)"></span> </td>
                    </tr>
                    <tr>
                        <td> Main-Second </td>
                        <td> <span ng-bind="data.pVal[3].toExponential(3)"></span> </td>
                    </tr>
                    <tr>
                        <td> Main-Third </td>
                        <td> <span ng-bind="data.pVal[4].toExponential(3)"></span> </td>
                    </tr>
                    <tr>
                        <td> Second-Third </td>
                        <td> <span ng-bind="data.pVal[5].toExponential(3)"></span> </td>
                    </tr>
                    <tr>
                        <td> Three-Way </td>
                        <td> <span ng-bind="data.pVal[6].toExponential(3)"></span> </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    <div ng-if="data.error"><b>Error</b>: {{data.error}}</div>
    <div ng-hide="data.error" ng-class="{'processing': myOptions.processing}">
        <span class="col-xs-12 text-center" ng-show="myOptions.processing">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </span><br>
        <div ng-repeat="n in multiBar.options track by $index">
            <div class="title h4 text-center">Third Factor, Level {{$index+1}} </div>
            <nvd3 options="multiBar.options[$index]" data="multiBar.data[$index]" config="chartConfig"></nvd3><hr>
        </div>
        
        <div class="grey4_break margin-bottom-2em padding-bottom-2em"></div>
        <h4 class="text-bold"> Quantile plots </h4>
        <div ng-repeat="n in boxPlots.options track by $index">
            <div class="title h4 text-center">Third Factor, Level {{$index+1}} </div>
            <nvd3 options="boxPlots.options[$index]" data="boxPlots.data[$index]" config="chartConfig"></nvd3><hr>
        </div>
    </div>
    
</div>
