
<div ng-controller="fileController" ng-init="fileController_handler( dataBlob, updateSimPlot )">
    <label class="btn btn-info" for="file-upload">
        Choose file
        <input id="file-upload" type="file" ng-file="getFile()"/>
    </label>
    <b>{{display.data}}</b>
    
    <br><br>
    CSV Data
    <tooltip-modal content="tooltip.csvdata" modal="'csvdata'"></tooltip-modal>
    <textarea class="form-control courier-font" ng-model="data.dataIn" ng-change="updateSimPlot()"></textarea>
</div>
