<!DOCTYPE html>

<html ng-app="tempestApp" ng-strict-di>
<head>
    
    <!-- Meta-Information -->
    <title>MySampleSize</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="web_response" name="response" content="${facesContext.externalContext.response.status}"/>
    <meta name="robots" content="index, follow">
    
    <!-- This line is required -->
    <base href="/">

    <!-- for verifying webmaster@consiliastats.com -->
    <meta name="google-site-verification" content="AlBMs316r1IujzUVTAoJEo4QqDTVhMRZxWvcr826IXE" />
    
    <meta name="description" content="{{meta_desc}}">
    
    {% set site_url = "https://www.mysamplesize.com" %}
    {% include 'structured_data/main.html' %}

    <!-- for Bing webmaster tools -->
    <meta name="msvalidate.01" content="4A1901D3B590CDC92C054860BF7B01D9" />
    
    <!-- Javascripts -->
    {% set js_loc = 'static/js' %}
    
    <!-- core AngularJS modules -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>

    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-animate.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-breadcrumb/0.5.0/angular-breadcrumb.min.js"></script>
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.21/angular-ui-router.min.js"></script>

    <script>
        var os_type = '{{os_type}}';
        var TOOLS_LABELS_POWER = {{json_data[0] | tojson}};
        var TOOLS_LABELS_SAMPLE = {{json_data[1] | tojson}};
    </script>

    <!-- GRAPHICS / PLOTTING -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script defer src="{{js_loc}}/nv.d3.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.0/rzslider.min.js"></script>

    <!-- Angular Javascripts -->
    {% assets "js_post_min" %}
        <script defer type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!--Start of Tawk.to Script -->
    {% if os_type!='win32' %}
    <!--[if !(IE)]><!-->
    <script async type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/568ac3c879d01cd956b78b17/default';
//            s1.src='https://embed.tawk.to/568ac3c879d01cd956b78b17/1bokmlupg';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--<![endif]-->
    {% endif %}
    <!--End of Tawk.to Script-->
    
    <!-- Stylesheets -->
    {% assets "css_min" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    
    <!-- favicon -->
    {% set favicon_loc = 'static/img/favicon' %}
    <link rel="icon" type="image/png" sizes="192x192" href="{{favicon_loc}}/favicon-32x32.png">
    <link rel="manifest" href="{{favicon_loc}}/manifest.json">
    <meta name="theme-color" content="#404040">

    <script defer src="https://js.stripe.com/v3/"></script>
</head>

<body ng-controller="rootController" ng-style="(standalone==1) && {'padding-top':0}" ng-cloak>
    <!-- HEADER -->
    <div ng-show="standalone==0">
        <div ng-include='"static/partials/webpage_core/header.html"'></div>
    </div>

    <!-- BODY / CONTENT -->
    <div class="container-fluid" id="topLevel">
        <div ui-view autoscroll='true'></div>
    </div>

    <!-- FOOTER -->
    <div ng-show="standalone==0">
        <div ng-include='"static/partials/webpage_core/footer.html"'></div>
    </div>

    <!--- Extra JS that does not need to be loaded before DOM -->
    {% if os_type!='win32' %}
    <!-- Google Analytics -->
    <script defer>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80990229-3', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
    </script>
    {% endif %}
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js"></script>
    
</body>
</html>
