<span id="help-navigation">
    <div class="col-sm-2 sidebar scrollable">
        <h2><a ui-sref="help.home">Help</a></h2>
        <ul class="list-unstyled nav">
            
            <li id="helpStatbasicsNav"><a ng-class="{'active': state.includes('help.statbasics')}" ui-sref="help.statbasics.home">      Statistical Basics</a>
                <ul class="help-submenu" ng-if="state.includes('help.statbasics')">
                    <div ng-repeat="c in statBasics">
                        <label> {{::c.title}} </label>
                        <div ng-repeat="g in c.groups">
                            <li>
                                <a ui-sref="help.statbasics.{{g.ui_sref}}" ui-sref-active="active">{{::g.title}}</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </li>
            
            <li id="helpStattestsNav"><a ng-class="{'active': state.includes('help.stattests')}" ui-sref="help.stattests.home">      Statistical Tests</a>
                <ul class="help-submenu" ng-if="state.includes('help.stattests')">
                    <div ng-repeat="c in statTests">
                        <label> {{::c.title}} </label>
                        <div ng-repeat="g in c.groups">
                            <li>
                                <a ui-sref="help.stattests.{{g.ui_sref}}" ui-sref-active="active">{{::g.title}}</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </li>
            
            <li id="helpDesigntypesNav"><a ui-sref-active="active" ui-sref="help.designtype">      Design Types</a>
                <ul class="help-submenu" ng-if="state.current.name=='help.designtype'">
                    <div ng-repeat="c in designTypeContents">
                        <label> {{::c.title}} </label>
                        <div ng-repeat="g in c.groups">
                            <li ng-class="{active: g.active}" ng-click="makeActive(g,designTypeContents)">
                                {{::g.title}}
                            </li>
                        </div>
                    </div>
                </ul>
            </li>
            
            <li id="helpTutorialNav"><a ui-sref-active="active" ui-sref="help.tutorial.home">    Tutorial</a>
                <ul class="help-submenu" ng-if="state.includes('help.tutorial')">
                    <div ng-repeat="c in tutorialContents" class="padding-top-half">
                        <label>
                            <a ng-click="clearAllActive(tutorialContents)" ui-sref="{{c.ui_sref}}" ui-sref-active="active">
                                <span class="text-black text-bold">{{::c.title}}</span>
                            </a>
                        </label>
                        <div ng-repeat="g in c.groups" ng-if="state.current.name==c.ui_sref">
                            <li ng-class="{active: g.active}" ng-click="openAndMakeActive(g,c)">
                                {{::g.title}}
                            </li>
                        </div>
                    </div>
                </ul>
            </li>
            
            <li id="helpCasestudiesNav"><a ui-sref-active="active" ui-sref="help.case">            Case Studies</a>
                <ul class="help-submenu" ng-if="state.current.name=='help.case'">
                    <div ng-repeat="c in caseStudiesContents">
                        <label> {{::c.title}} </label>
                        <div ng-repeat="g in c.groups">
                            <li ng-class="{active: g.active}" ng-click="makeActive(g,caseStudiesContents)"> 
                                {{::g.title}}
                            </li>
                        </div>
                    </div>
                </ul>
            </li>
            
            <li id="helpFaqNav"><a ui-sref-active="active" ui-sref="help.faq">              FAQ</a></li>
            <li id="helpGlossaryNav"><a ui-sref-active="active" ui-sref="help.glossary">         Glossary / References </a></li>
            <li id="helpContactNav"><a ui-sref-active="active" ui-sref="help.contact">          Contact Us</a></li>
        </ul>
    </div>

    <div class="col-sm-10 col-sm-offset-2">
        <div class="page_content">
            <!-- Content goes here -->
            <div ui-view autoscroll='true'></div>
        </div>
    </div>
</span>
