<ul class="dropdown-submenu help-submenu">
    <li ui-sref-active="active"><a ui-sref="tools.samplesize" ng-click="cancel()">     Sample Size</a></li>
    <li ui-sref-active="active"><a ui-sref="tools.powersize" ng-click="cancel()">      Statistical Power</a></li>
    <li ui-sref-active="active"><a ui-sref="tools.pwrgraph" ng-click="cancel()">       Power Plots</a></li>
    <li ui-sref-active="active"><a ui-sref="tools.sims" ng-click="cancel()">           Simulations</a></li>
    <li ui-sref-active="active"><a ui-sref="tools.rng" ng-click="cancel()">            Random Number Generator</a></li>
    <li ui-sref-active="active"><a ui-sref="tools.analysis" ng-click="cancel()">       Data Analysis</a></li>
</ul>
<li ui-sref-active="active"><a ui-sref="tools.report" ng-click="cancel()">         Summary Report</a></li>
<li ui-sref-active="active"><a ui-sref="report.user" ng-click="cancel()">         User Projects</a></li>
