
/*********************************************************************************/
/*               COLORS                                                          */
/*********************************************************************************/

$main_green: #c8e04b;
$main_green_lt: #a0b33c;
$main_green_dk: #8c9c34;

$main_blue: #7b95a7;

$grey5: #404040;
$grey4: #535353;
$grey3: #8c8c8c;
$grey2: #c5c5c5;
$grey1: #ECECEC;
$grey0: #EEEEEE;

$white: #FFFFFF;
$black: #000000;

$xsmall: 450px;
$small: 576px; 
$medium: 768px;
$large: 1200px;

$header-height-large: 80px;
$header-height-medium: 80px;
$header-height-small: 80px;
$header-height-xsmall: 80px;

/* removing other text mixins since not used */
@mixin text-grey      { color: $grey4; }
@mixin text-ltgrey    { color: $grey1; }
@mixin text-muted     { color: #777; }

@mixin text-bold      { font-weight: bold; }

@mixin indent         { text-indent: 25px; };   .indent{ @include indent; }

@mixin background-transparent { background-color: transparent; }

@mixin green_break    { border-bottom:    thin solid $main_green;}; .green_break{@include green_break;}


@mixin img-responsive { 
    display: block;
    max-width: 100%;
    height: auto;
}

@mixin img-circle {
    @include img-responsive;
    border-radius: 50%; 
}

@each $clr in dkgrey $grey5, black $black, green $main_green, blue $main_blue, red red, white white, grey2 $grey2, grey3 $grey3, grey1 $grey1 {
    $key: nth($clr, 1);
    
    .text-#{$key} { color: #{ nth($clr,2) } }
}

.text-bold { @include text-bold}

/*
@mixin text-dkgrey    { color: $grey5; }
@mixin text-black     { color: $black; }
@mixin text-green     { color: $main_green; }
@mixin text-blue      { color: $main_blue; }
@mixin text-red       { color: red;}
@mixin text-white     { color: white; }

.text- {
    &dkgrey {@include text-dkgrey;}
    &black  {@include text-black;}
    &grey   {@include text-grey;}
    &ltgrey {@include text-ltgrey;}
    &green  {@include text-green;}
    &blue   {@include text-blue;}
    &red    {@include text-red;}
    &white  {@include text-white;}
    &bold   {@include text-bold;}
    &muted  {@include text-muted;}
}
*/

/*********************************************************************************/
/*                PAGE                                                           */
/*********************************************************************************/
/*** Spacing ***/

@each $side in bottom, top, left, right {
    @for $i from 1 through 2 {
        .margin-#{$side}-#{$i}em  { margin-#{$side}: #{$i}em; }
        .padding-#{$side}-#{$i}em { padding-#{$side}: #{$i}em; }
    }
    .margin-#{$side}-half  { margin-#{$side}: 0.5em; }
    .padding-#{$side}-half { padding-#{$side}: 0.5em; }
}

@for $i from 1 through 2 {
    .margin-#{$i}em  { margin: #{$i}em; }
    .padding-#{$i}em { padding: #{$i}em; }
}
.margin-half  { margin: 0.5em; }

@mixin padding-half { padding: 0.5em; };
@mixin width-100 { width: 100%; }

.padding-half{@include padding-half;}
.width-100 {@include width-100;}

.spacing {
    letter-spacing: 0.3em;
}
