
/*********************************************************************************/
/*                HELP page contents                                             */
/*********************************************************************************/

.black-box-emphasis {
    border:2px;
    border-style:solid;
    padding:1em;
    font-weight:bold;
    margin:2em
}
