$transTime: 20ms;
$transDelay: 20ms;

/* For overlays when calling server */
.sim-plot, .power-plot-form {
    .fa-spinner {
        z-index: 3;
        margin-top: 30%;
        color: white;
    }
    
    div.processing {
        background-color: $grey3;
        z-index: 1;
        opacity: 0.5;
    }
}

nvd3 svg:not(:root) {
    overflow: visible;  /* this is particularly for x-axis labels */
}

/* nvd3 version 1.8.1 (https://github.com/novus/nvd3) 2015-06-15 */
.nvd3 {
    .nv-error-bar-group line {
        fill: black;
        stroke: black;
        fill-opacity: 1.0;
        /* stroke-width: 2px; */
    }

    /* basics */
    text { font: normal 12px Arial; }

    .title { font: bold 14px Arial; }

    .background path {
        fill: none;
        stroke: #EEE;
        stroke-opacity: .4;
        shape-rendering: crispEdges;
    }

    .foreground path {
        fill: none;
        stroke-opacity: .7;
    }
    .nv-background {
        fill: white;
        fill-opacity: 0;
    }

    &.nv-noData {
        font-size: 18px;
        font-weight: bold;
    }

    /********* AXIS ************/
    .nv-axis {
        pointer-events:none;
        opacity: 1;

        path {
            fill: none;
            stroke: #000;
            stroke-opacity: .75;
            shape-rendering: crispEdges;
        }

        path.domain {
            stroke-opacity: .75;
        }

        &.nv-x path.domain {
            stroke-opacity: 0;
        }

        &.nv-disabled {
            opacity: 0;
        }
        
        line {
            fill: none;
            stroke: #e5e5e5;
            shape-rendering: crispEdges;
            display: none;      /* remove all grid lines */
        }

        .zero line,
            /*this selector may not be necessary*/ .nv-axis line.zero {
            stroke-opacity: .75;
        }

        .nv-axisMaxMin text {
            font-weight: bold;
        }
    }
    
    .x  .nv-axis .nv-axisMaxMin text,
    .x2 .nv-axis .nv-axisMaxMin text,
    .x3 .nv-axis .nv-axisMaxMin text {
        text-anchor: middle
    }

    /* nv-bars */
    .nv-bars {
        rect {
            fill-opacity: .75;

            transition: fill-opacity $transTime linear;
            -moz-transition: fill-opacity $transTime linear;
            -webkit-transition: fill-opacity $transTime linear;
            
            &.hover {
                fill-opacity: 1;
            }
        }
        .hover {
            rect {
                fill: lightblue;
            }
            text {
                fill: rgba(0,0,0,1);
            }
        }
        
        text {
            fill: rgba(0,0,0,0);
        }
    }

    /* multibar */
    .nv-multibar .nv-groups rect {
        stroke-opacity: 0;

        transition: fill-opacity $transTime linear;
        -moz-transition: fill-opacity $transTime linear;
        -webkit-transition: fill-opacity $transTime linear;
        
        &:hover {
            fill-opacity: 1;
        }
    }
    
}

/* legend */
.nvd3 .nv-check-box {
    .nv-box {
        fill-opacity:0;
        stroke-width:2;
    }
    .nv-check {
        fill-opacity:0;
        stroke-width:4;
    }
}
.nvd3 .nv-series.nv-disabled .nv-check-box .nv-check {
    fill-opacity:0;
    stroke-opacity:0;
}


.nvd3 .nv-groups path {
    &.nv-line { fill: none; }
    &.nv-area { stroke: none; }
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: .5 !important;
    stroke-opacity: .5 !important;
}

.with-transitions .nvd3 .nv-groups .nv-point {
    transition: stroke-width $transTime linear, stroke-opacity $transTime linear;
    -moz-transition: stroke-width $transTime linear, stroke-opacity $transTime linear;
    -webkit-transition: stroke-width $transTime linear, stroke-opacity $transTime linear;

}

/* nv-single-point class for 1-point data in scatter */ 
.nv-single-point .nv-point {
    stroke-width: 5px;
    fill-opacity: .95 !important;
    stroke-opacity: .95 !important;
}
.nvd3.nv-scatter .nv-groups .nv-point.hover,
.nvd3 .nv-groups .nv-point.hover  {
    stroke-width: 7px;
    fill-opacity: .95 !important;
    stroke-opacity: .95 !important;
}
.nvd3 .nv-point-paths path {
    stroke: #aaa;
    stroke-opacity: 0;
    fill: #eee;
    fill-opacity: 0;
}


/********************
 * SVG CSS
 */

/********************
  Default CSS for an svg element nvd3 used
*/
svg.nvd3-svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: block;
    width:100%;
    height:100%;
}

/********************
  Box shadow and border radius styling
*/
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/**********
*  Brush for focus
*/
.nv-brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
.nv-brush .resize path {
    fill: #eee;
    stroke: #666;
}
/* focus */
.nvd3 .nv-brush .extent {
    fill-opacity: 0 !important;
}

.nvd3 .nv-brushBackground rect {
    stroke: #000;
    stroke-width: .4;
    fill: #fff;
    fill-opacity: .7;
}

/**********
*  Legend
*/
.nvd3 .nv-legend 
{
    .nv-legend-text {
        font-size: 11px;
    }
    
    .nv-series {
        cursor: pointer;
    }

    .nv-disabled 
        {
        circle { fill-opacity: 0; }
        rect { /*fill-opacity: 0;*/ }
    }
}

/* scatter */
.nvd3 .nv-groups .nv-point.hover {
    stroke-width: 20px;
    stroke-opacity: .5;
}

.nvd3 .nv-scatter .nv-point.hover {
    fill-opacity: 1;
}
.nv-noninteractive {
    pointer-events: none;
}

/* tooltip */
.nvtooltip {
    position: absolute;
    background-color: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
    padding: 1px;
    border: 1px solid rgba(0,0,0,.2);
    z-index: 10000;
    display: block;

    font-family: Arial;
    font-size: 13px;
    text-align: left;
    pointer-events: none;

    white-space: nowrap;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: rgba(255,255,255, 0.8);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;

    h3 {
        margin: 0;
        padding: 4px 14px;
        line-height: 18px;
        font-weight: normal;
        background-color: rgba(247,247,247,0.75);
        color: rgba(0,0,0,1.0);
        text-align: center;

        border-bottom: 1px solid #ebebeb;

        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    p {
        margin: 0;
        padding: 5px 14px;
        text-align: center;
    }

    span {
        display: inline-block;
        margin: 2px 0;
    }

    table {
        margin: 6px;
        border-spacing:0;
        
        td {
            padding: 2px 9px 2px 0;
            vertical-align: middle;
            
            &.key {
                font-weight:normal;
            }
            &.value {
                text-align: right;
                font-weight: bold;
            }

            &.legend-color-guide div {
                width: 8px;
                height: 8px;
                vertical-align: middle;
            }

            &.legend-color-guide div {
                width: 12px;
                height: 12px;
                border: 1px solid #999;
            }
        }

        tr.highlight td {
            padding: 1px 9px 1px 0;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-top-style: solid;
            border-top-width: 1px;
        }
    }

    .footer {
        padding: 3px;
        text-align: center;
    }
    
    &.x-nvtooltip,
    &.y-nvtooltip {
        padding: 8px;
    }
}

/*Give tooltips that old fade in transition by
    putting a "with-transitions" class on the container div.
*/
.nvtooltip.with-transitions,
.with-transitions .nvtooltip {
    transition: opacity 50ms linear;
    -moz-transition: opacity 50ms linear;
    -webkit-transition: opacity 50ms linear;

    transition-delay: $transDelay;
    -moz-transition-delay: $transDelay;
    -webkit-transition-delay: $transDelay;
}

.nvtooltip-pending-removal {
    pointer-events: none;
    display: none;
}


/****
Interactive Layer
*/
.nvd3 .nv-interactiveGuideLine {
    pointer-events:none;
}
.nvd3 line.nv-guideline {
    stroke: #ccc;
}