
/*********************************************************************************/
/*                REPORTS contents                                               */
/*********************************************************************************/


/* in Reports > User Project */
#userRepeat .table 
{
    background-color: inherit;
    
    >tbody>tr>td {
        border: none;
        line-height: inherit;
    }
    
    >tbody>tr {
        border: none;
        line-height: inherit;
    }
}

.warning-bar {
    @include text-ltgrey;
    @include background-dkgrey;
    
    padding-top: 1em;
    padding-bottom: 2em;

    width: 90%;
    
    text-align: center;
    z-index: 30;
    opacity: 1;
    margin: 5%;
    top:15%;left:0;
    position:absolute;
}

/* Report checklist styling */
.report-check {
    tbody {
        font-size: 0.9em;
        width: 100%;
    }

    ol { list-style-type: lower-latin; }

    tr.text-uppercase > td {
        font-weight: bold;
        background: white;
        text-align: center;
    }
}
