<div class="tools_label">
<label ng-disabled="calculator.RMPS1.esMultiple">
    Effect Size
    <input type="number" name="repMeasEs" min="0.01" max="500" step="0.01"
        ng-model="calculator.data.esComb.effect[0]" ng-change="calculate()"
        ng-disabled="calculator.RMPS1.esMultiple"> </input>
    <tooltip-link content="'tooltip.effect'" url="standalone.effect"></tooltip-link>
</label>
<br><br>

<label class="col-xs-8">
    <input style="width: 30px" type="checkbox" name="multipleES" ng-model="calculator.RMPS1.esMultiple" ng-change="calculate()"></input>
    <span><i><large> Specify the Effect Size for each interaction? </large></i></span>
</label>
<br /><br /><br />

<span class="animate-fade col-sm-8 col-sm-offset-2" ng-show="calculator.RMPS1.esMultiple" id="dg-esMultiple">
    <span> For each interaction, list the effect size: </span>
    <br /><br />
    <table class="table table-condensed">
        <thead>
            <tr>
                <th> Factor or Interaction </th>
                <th> Effect Size <span ng-show="dgtable">(min)</span > </th>
                <th ng-show="dgtable"> Effect Size (max) </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="comb in calculator.data.esComb.index track by $index">
                <td>
                    <span ng-show="calculator.data.esComb.index[$index].length > 1"> Interaction: </span>
                    <span ng-repeat="tmp in calculator.data.esComb.index[$index] track by $index">
                        <span ng-if="tmp==1"> Time Factor </span>
                        <span ng-if="tmp>1">  Factor {{tmp-1}} </span> 
                        <span ng-hide="$last"> & </span>
                    </span>
                    
                    <span ng-if="dgtable">  <!-- this var is defined in quiz.outcome.html -->
                        <span ng-init="dgTrt = formData.treatments.concat( formData.factors )">
                            <span ng-if="($index>0) && ($index <= dgTrt.length)">{{dgTrt[$index-1].description}} </span>
                        </span>
                    </span>
                    <span ng-if="!dgtable && ($index < calculator.data.treatmentsTotal)"> {{calculator.treatments[$index].description}} <span>
                </td>
                
                <td> <input type="number" ng-model="calculator.data.esComb.effect[$index]" ng-change="calculate()"> </input> </td>
                <td ng-show="dgtable"> <input type="number" ng-value="2.0 * calculator.data.esComb.effect[$index]"> </input> </td>
            </tr>
        </tbody>
    </table>
</span>
</div>