
<div class="padding-bottom-2em" ng-init="register( empty )">
    <label class="padding-top-1em padding-bottom-2em">
        Please select a value for each of the following:
    </label>
    
    <div class="row text-right tools_label" ng-model-options="{debounce: 200}">
        <div ng-repeat="item in design.stat.selectedOption.sample_items track by $index" ng-form="ssForm">
           
            <!-- "NORMAL" INPUTS -->
            <div class="col-xs-8" ng-class="{'col-md-5': design.notEmbedded}" ng-if="item.flag == 0 || item.flag === undefined">
                <label>{{item.label}}</label>
                
                <input type="number" name="inp{{$index}}" min="{{item.min}}" max="{{item.max}}" step="{{item.step}}" 
                    ng-model="calculator['data'][item.model]" ng-change="calculate();" ng-disabled="item.disabled && !design.notEmbedded" 
                    uib-tooltip-html="esTooltip.content" tooltip-trigger="'focus'" tooltip-enable="esTooltip.enabled(item.label)" tooltip-popup-delay="1000"
                    required>
            
                <tooltip-link content="item.tooltip" url="{{item.tooltip_link}}" ng-show="ssForm.inp{{$index}}.$valid"></tooltip-link>
                
                <tooltip-warn content="'Please fill out this field'" ng-show="ssForm.inp{{$index}}.$error.required"></tooltip-warn>
                
                <tooltip-warn content="'Please select a value between '+item.min+' and '+item.max+'.'"
                    ng-show="(ssForm.inp{{$index}}.$error.min || ssForm.inp{{$index}}.$error.max) && !ssForm.inp{{$index}}.$error.required">
                </tooltip-warn>
            </div>

            <!-- TREATMENTS -->
            <div ng-if="item.flag" class="col-xs-8" ng-class="{'col-md-5': design.notEmbedded}">
                <div ng-repeat="treat in item.treatments track by $index">
                    <label>{{treat.label}}</label>
                    
                    <input type="number" name="treat{{$index}}" min="{{treat.min}}" max="{{treat.max}}" step="{{treat.step}}" 
                        ng-model="calculator['treatments'][$index].levels" ng-change="calculate();" 
                        ng-disabled="treat.disabled && !design.notEmbedded" required>

                    <tooltip-link content="treat.tooltip" url="{{treat.tooltip_link}}" ng-show="ssForm.treat{{$index}}.$valid"></tooltip-link>
                    
                    <tooltip-warn content="'Please fill out this field'" ng-show="ssForm.treat{{$index}}.$error.required"></tooltip-warn>
                   
                    <tooltip-warn content="'Please select a value between '+treat.min+' and '+treat.max+'.'" ng-show="(ssForm.treat{{$index}}.$error.min || ssForm.treat{{$index}}.$error.max) && !ssForm.treat{{$index}}.$error.required"></tooltip-warn>
                </div>
            </div>

            <!-- Repeated Measures effect size -->
            <div ng-if="item.flag == 2" class="text-left padding-top-2em col-xs-8 col-xs-offset-2">
                <div ng-include="'static/partials/webpage_tools/repMeasuresES.html'"></div>
            </div>
            
        </div>
    </div>
</div>

<!-- Answer Box -->
<div class="background-dkgrey spacing text-center padding-2em" id="scrollArea">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-red" ng-show="calculator.data.es==0 || design.isNone()">
        <h2 ng-hide="design.isNone()">The Effect Size is 0. Please select alternative values to calculate Effect Size.</h2>
    </div>
    
    <div class="text-white" id="SSanswer" ng-hide="calculator.data.es==0 || design.isNone()">
        <h2 ng-hide="design.isANOVA2() || design.isANOVAm() || design.isRMPS1()" class=""> Estimated Sample Size: </h2>
        
        <div ng-show="anyError.tf" class="padding-left-2em">
           <h3><strong class="text-red"> -- {{ anyError.msg }} </strong></h3>
        </div>
        
        <div ng-show="!anyError.tf" class=" padding-left-2em">
            <!--div ng-hide="design.isANOVA2() || design.isANOVAm() || design.isRMPS1() || design.isANOVA1()">
                <h3> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]"></strong>
        
                    <span ng-show="design.isTTestPaired()">Pairs</span>
                    
                    <span ng-show="design.isTTest2() || design.isRMCS1()"> Subjects per Group</span>
                    
                    <span ng-show="design.isTTest1()">Total Subjects</span>
                </h3>
                <h3 ng-if="design.isRMCS1()"> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]*(calculator.data.groups + (!design.notEmbedded)*design.formData.nControlAdditionalSelected)"></strong>
                    Total Subjects
                </h3>
                <h3 ng-if="design.isTTest2()"> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]*2"></strong>
                    Total Subjects
                </h3>
            </div-->


            <div ng-show="design.isTTest1() || design.isTTest2() || design.isTTestPaired()">
                <h3> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]"></strong>
        
                    <span ng-show="design.isTTestPaired()">Pairs</span>
                    
                    <span ng-show="design.isTTest2()"> Subjects per Group</span>
                    
                    <span ng-show="design.isTTest1()">Total Subjects</span>
                </h3>
                <h3 ng-if="design.isTTest2()"> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]*2"></strong>
                    Total Subjects
                </h3>
            </div>
			
			<div ng-show="design.isRMCS1()">
                <h3> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]"></strong>
                    <span> Subjects per Group</span>         
                </h3>
                <h3> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]*(nGroupsForCalcDisplay)"></strong>
                    Total Subjects
                </h3>
            </div>





            <!-- 1-Way ANOVA -->
            <div ng-show="design.isANOVA1()">
				<p class="padding-top-1em green_break" style="text-align:left"> ANOVA Test </p>
                <h3> 
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]"></strong>   
					<tooltip-warn ng-show="calculator.data.warn[0]==1" uib-tooltip="Warning: This is the best, with statistical power of {{calculator.data.power[0]}}. Ratio of effect size to standard deviation might be too big."></tooltip-warn>
					<tooltip-warn ng-show="calculator.data.warn[0]==2" uib-tooltip="Warning: For this number of sample size, the statistical power is {{calculator.data.power[0]}}. The ratio of effect size to standard deviation is too small to achieve any meaningful power."></tooltip-warn>
                    <span> Subjects per Group</span>
                    <br>
                    <strong class="text-green" ng-bind="calculator.data.samplesize[0]*(calculator.data.groups + (!design.notEmbedded)*design.formData.nControlAdditionalSelected)"></strong>
                    Total Subjects
                </h3>

				<p class="padding-top-1em green_break" style="text-align:left"> Post hoc Dunnett Test </p>
                <h3> 
                    <strong class="text-green" ng-bind="calculator.data.samplesizePD[0]"></strong>   
					<tooltip-warn ng-show="calculator.data.warnPD[0]==1" uib-tooltip="Warning: This is the best, with statistical power of {{calculator.data.power[0]}}. Ratio of effect size to standard deviation might be too big."></tooltip-warn>
					<tooltip-warn ng-show="calculator.data.warnPD[0]==2" uib-tooltip="Warning: For this number of sample size, the statistical power is {{calculator.data.power[0]}}. The ratio of effect size to standard deviation is too small to achieve any meaningful power."></tooltip-warn>
                    <span> Subjects per Group</span>
                    <br>
                    <strong class="text-green" ng-bind="calculator.data.samplesizePD[0]*(calculator.data.groups + (!design.notEmbedded)*design.formData.nControlAdditionalSelected)"></strong>
                    Total Subjects
                </h3>

				<p class="padding-top-1em green_break" style="text-align:left"> Post hoc Tukey Test </p>
                <h3> 
                    <strong class="text-green" ng-bind="calculator.data.samplesizePT[0]"></strong>   
					<tooltip-warn ng-show="calculator.data.warnPT[0]==1" uib-tooltip="Warning: This is the best, with statistical power of {{calculator.data.power[0]}}. Ratio of effect size to standard deviation might be too big."></tooltip-warn>
					<tooltip-warn ng-show="calculator.data.warnPT[0]==2" uib-tooltip="Warning: For this number of sample size, the statistical power is {{calculator.data.power[0]}}. The ratio of effect size to standard deviation is too small to achieve any meaningful power."></tooltip-warn>
                    <span> Subjects per Group</span>
                    <br>
                    <strong class="text-green" ng-bind="calculator.data.samplesizePT[0]*(calculator.data.groups + (!design.notEmbedded)*design.formData.nControlAdditionalSelected)"></strong>
                    Total Subjects
                </h3>
            </div>
            
            <!-- 2-Way, Multi-Way ANOVA, Repeated Measures -->
            <!-- NOTE: this requires calculator.data.pow to be the same length as treatment.display. CHECK THIS. -->
            <table  ng-if="design.isANOVAm() || design.isANOVA2() || design.isRMPS1()" class="col-sm-12 table borderless text-center margin-top-1em">
                <thead class="h3">
                    <td> Effect to detect </td>
                    <td> Estimated sample size <small>(per group)</small></td>
                    <td> Total sample size <small> ({{nGroupsForCalcDisplay}} groups) </small> </td>
                </thead>

                <tbody>
					<tr class="padding-top-1em"><td style="border-bottom: 1px solid #c8e04b;  padding-top:2em;" align="left" ng-if="!design.isRMPS1()"> ANOVA test 
					</td></tr>
                    <tr ng-repeat="sampleSize in calculator.data.samplesize track by $index">
                        <!-- display for 2-Way, Multi-Way -->
                        <td ng-class="{'h4' : design.notEmbedded}" ng-if="!design.isRMPS1()">
                            Factor 
							                            
                            <span ng-repeat="tmp in AOVMcomb.values[$index] track by $index">
                                {{tmp}} <span ng-hide="$last"> and </span>
                            </span>
                            
                            <span ng-if="$index < calculator.data.treatmentsTotal" ng-bind="calculator.treatments[$index].description"></span>
                            
                            <span ng-show="AOVMcomb.values[$index].length > 1"> interaction </span>
                        </td>
                        
                        <!-- Display for Repeated Measures (specify "Time" factor) -->
                        <td ng-class="{'h4' : design.notEmbedded}" ng-if="design.isRMPS1()">
                            <span ng-repeat="ndx in calculator.data.esComb.index[$index] track by $index">
                                <span ng-if="ndx==1"> Time Factor </span>
                                <span ng-if="ndx>1">  Factor {{ndx-1}} </span> 
                                <span ng-hide="$last"> and </span>
                            </span>

                            <span ng-show="calculator.data.esComb.index[$index].length > 1"> interaction </span>
                            
                            <span ng-if="$index < calculator.data.treatmentsTotal" ng-bind="calculator.treatments[$index].description"> </span>
                        </td>
                        
                        <td ng-class="{'h4' : design.notEmbedded}">
                            <strong class="text-green" ng-bind="sampleSize"></strong>
							
							<tooltip-warn ng-show="calculator.data.warn[$index]==1" uib-tooltip="Warning: This is the best, with statistical power of {{calculator.data.power[$index]}}. Ratio of effect size to standard deviation might be too big."></tooltip-warn>
							<tooltip-warn ng-show="calculator.data.warn[$index]==2" uib-tooltip="Warning: For this number of sample size, the statistical power is {{calculator.data.power[$index]}}. The ratio of effect size to standard deviation is too small to achieve any meaningful power."></tooltip-warn>

                        </td>

                        <td ng-class="{'h4' : design.notEmbedded}">
                            <strong class="text-grey3" ng-bind="sampleSize*(nGroupsForCalcDisplay)"></strong>
                        </td>
                    </tr>
					
				    <!-- Post hoc Dunnett test -->
					<tr><td style="border-bottom: 1px solid #c8e04b; padding-top:2em;" align="left" ng-if="!design.isRMPS1()"> Post hoc Dunnett test 
					</td></tr>
					
                    <tr ng-repeat="sampleSize in calculator.data.samplesizePD track by $index">
                        <!-- display for 2-Way, Multi-Way -->
                        <td ng-class="{'h4' : design.notEmbedded}" ng-if="!design.isRMPS1()">
                            Factor 
							                            
                            <span ng-repeat="tmp in AOVMcomb.values[$index] track by $index">
                                {{tmp}} <span ng-hide="$last"> and </span>
                            </span>
                            
                            <span ng-if="$index < calculator.data.treatmentsTotal" ng-bind="calculator.treatments[$index].description"></span>
                            
                            <span ng-show="AOVMcomb.values[$index].length > 1"> interaction </span>
                        </td>
                        
                        <!-- Display for Repeated Measures (specify "Time" factor) -->
                        <!--td ng-class="{'h4' : design.notEmbedded}" ng-if="design.isRMPS1()">
                            <span ng-repeat="ndx in calculator.data.esComb.index[$index] track by $index">
                                <span ng-if="ndx==1"> Time Factor </span>
                                <span ng-if="ndx>1">  Factor {{ndx-1}} </span> 
                                <span ng-hide="$last"> and </span>
                            </span>

                            <span ng-show="calculator.data.esComb.index[$index].length > 1"> interaction </span>
                            
                            <span ng-if="$index < calculator.data.treatmentsTotal" ng-bind="calculator.treatments[$index].description"> </span>
                        </td-->
                        
                        <td ng-class="{'h4' : design.notEmbedded}">
                            <strong class="text-green" ng-bind="sampleSize"></strong>

							<tooltip-warn ng-show="calculator.data.warnPD[$index]==1" uib-tooltip="Warning: This is the best, with statistical power of {{calculator.data.powerPD[$index]}}. Ratio of effect size to standard deviation might be too big."></tooltip-warn>
							<tooltip-warn ng-show="calculator.data.warnPD[$index]==2" uib-tooltip="Warning: For this number of sample size, the statistical power is {{calculator.data.powerPD[$index]}}. The ratio of effect size to standard deviation is too small to achieve any meaningful power."></tooltip-warn>

                        </td>

                        <td ng-class="{'h4' : design.notEmbedded}">
                            <strong class="text-grey3" ng-bind="sampleSize*(nGroupsForCalcDisplay)"></strong>
                        </td>
                    </tr>
				
				    <!-- Post hoc Tukey test -->
					<tr><td style="border-bottom: 1px solid #c8e04b; padding-top:2em;" align="left" ng-if="!design.isRMPS1()"> Post hoc Tukey test 
					</td></tr>
					
                    <tr ng-repeat="sampleSize in calculator.data.samplesizePT track by $index">
                        <!-- display for 2-Way, Multi-Way -->
                        <td ng-class="{'h4' : design.notEmbedded}" ng-if="!design.isRMPS1()">
                            Factor 
							                            
                            <span ng-repeat="tmp in AOVMcomb.values[$index] track by $index">
                                {{tmp}} <span ng-hide="$last"> and </span>
                            </span>
                            
                            <span ng-if="$index < calculator.data.treatmentsTotal" ng-bind="calculator.treatments[$index].description"></span>
                            
                            <span ng-show="AOVMcomb.values[$index].length > 1"> interaction </span>
                        </td>
                        
                        <!-- Display for Repeated Measures (specify "Time" factor) -->
                        <!-- <td ng-class="{'h4' : design.notEmbedded}" ng-if="design.isRMPS1()">
                            <span ng-repeat="ndx in calculator.data.esComb.index[$index] track by $index">
                                <span ng-if="ndx==1"> Time Factor </span>
                                <span ng-if="ndx>1">  Factor {{ndx-1}} </span> 
                                <span ng-hide="$last"> and </span>
                            </span>

                            <span ng-show="calculator.data.esComb.index[$index].length > 1"> interaction </span>
                            
                            <span ng-if="$index < calculator.data.treatmentsTotal" ng-bind="calculator.treatments[$index].description"> </span>
                        </td> -->
                        
                        <td ng-class="{'h4' : design.notEmbedded}">
                            <strong class="text-green" ng-bind="sampleSize"></strong>

							<tooltip-warn ng-show="calculator.data.warnPT[$index]==1" uib-tooltip="Warning: This is the best, with statistical power of {{calculator.data.powerPT[$index]}}. Ratio of effect size to standard deviation might be too big."></tooltip-warn>
							<tooltip-warn ng-show="calculator.data.warnPT[$index]==2" uib-tooltip="Warning: For this number of sample size, the statistical power is {{calculator.data.powerPT[$index]}}. The ratio of effect size to standard deviation is too small to achieve any meaningful power."></tooltip-warn>

                        </td>

                        <td ng-class="{'h4' : design.notEmbedded}">
                            <strong class="text-grey3" ng-bind="sampleSize*(nGroupsForCalcDisplay)"></strong>
                        </td>
                    </tr>
				
                </tbody>
            </table>            
        </div>
        
    </div>
    <div class="col-sm-12 padding-2em" ng-show="calculator.data.es==0 || design.isNone()"></div>

  </div><!-- end row-->
</div><!-- end answer box -->
