<div class="row padding-2em tools_label">
    <div class="col-xs-12">
        <div class="col-xs-6">
            <table class="table table-condensed">
                <tr>
                    <td>Number of subjects per group</td>
                    <td> <input type="number" ng-model="data.n"></input> </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="col-xs-6">
        <table class="table table-condensed">
            <tr>
                <td>
                    Number of treatment factors
                    <tooltip-modal content="tooltip.listTreat" modal="'listTreat'"></tooltip-modal>
                </td>
                <td>
                    <input type="number" min="1" max="4" ng-model="data.nTreatments"></input>
                </td>
            </tr>
            <tr ng-repeat="n in data.treatmentLevels track by $index">
                <td> Factor {{$index+1}} levels: </td>
                <td> <input type="number" min="1" ng-model="data.treatmentLevels[$index]" ng-change="trtUpdate()"> </td>
            </tr>
        </table>
    </div>
    
    <div class="col-xs-6">
        <table class="table table-condensed">
            <tr>
                <td>
                    Number of non-treatment factors
                    <br>
                    <tooltip-modal content="tooltip.factors" modal="'factors'"></tooltip-modal>
                </td>
                <td>
                    <input width="40px" type="number" min="0" max="4" ng-model="data.nNonTreatments"></input>
                </td>
            </tr>
            <tr ng-repeat="n in data.nonTreatmentLevels track by $index">
                <td> Factor {{$index+1}} levels: </td>
                <td> <input type="number" min="1" ng-model="data.nonTreatmentLevels[$index]"> </td>
            </tr>
        </table>
    </div>
    
    <div class="col-xs-12">
        <p>
            Based on your inputs, you have 
            <span ng-repeat="level in data.treatmentLevels track by $index"> ({{level}}) </span>
            <!-- <span ng-repeat="level in data.nonTreatmentLevels track by $index"> ({{level}}) </span> -->
            = {{dataOut.nGroups}} treatment groups
            <br>
            and
            ({{data.n}})*({{dataOut.nGroups}}) = {{data.n * dataOut.nGroups}} samples per group.
        </p>
        
        <button class="btn btn-primary" ng-click="rngCalc()" id="docalcbtn"> Generate tables </button>
    </div>
    
    <table class="table text-center" ng-if="data.nNonTreatments==0">
        <tr>
            <th></th>
            <th class="text-center" colspan="12"> Randomized Block </th>
        </tr>
        <tr>
            <th></th>
            <th ng-repeat="n in data.table[0] track by $index"> {{$index+1}} </th>
        </tr>

        <tr ng-repeat="row in data.table track by $index">
            <th> {{$index+1}} </th>
            <td ng-repeat="col in row">{{col[0]}}</td>
        </tr>
    </table>
    
    <div ng-repeat="nNonT in data.nonTreatmentLevels track by $index">
        <table class="table text-center" ng-repeat="tmp in range(nNonT) track by $index ">
            <tr>
                <th></th>
                <th class="text-center" colspan="12"> Nontreatment Group {{$parent.$index}}, Level {{$index}} </th>
            </tr>
            <tr>
                <th></th>
                <th ng-repeat="n in data.table[0] track by $index"> {{$index+1}} </th>
            </tr>

            <tr ng-repeat="row in data.table track by $index">
                <th> {{$index+1}} </th>
                <td ng-repeat="col in row">{{col[$parent.$parent.$index]}}</td>
            </tr>
            </ng-repeat>
        </table>
    </div>
</div>
