<!--h3>Outcome Measures</h3>
<p class="green_break padding-half margin-bottom-2em" id="pageIntro3"></p-->

<p class="indent margin-bottom-1em">
    <div ng-show="formData.outMeas!==null">
        <b>Your outcome measure is <i class="bg-info" ng-bind="formData.outMeas"></i> in units of <i class="bg-info" ng-bind="formData.obsUnits"></i>.</b>
    </div>
    
    <div ng-show="formData.outMeas==null">        
        <tooltip-warn></tooltip-warn>
        <b>You have not defined the <i class="bg-danger">outcome measure</i> and its <i class="bg-danger">units</i>.
        You will need to have knowledge of these to distinguish between treatment and control groups. 
        Go to the <button type="button" class="btn btn-primary" ng-click="setStep(0)">Getting Started</button> page 
        to define the outcome measure and its units. </b>
    </div>
    
    <br>
    
    You will be using this outcome to distinguish between treatment and control groups in order to test your hypothesis. The null hypothesis typically represents a situation in which the population of control subjects and the population of subjects at each treatment setting all have the same mean. In order to test your hypothesis, you need to know how much variation there is among test subjects (that is, the standard deviation of the outcome measure), and you need to know how much of a difference in the mean outcome measure is scientifically relevant (that is, a minimum <effect-size></effect-size> you want to detect).
    
    <br><br>
    
    The <em>smallest difference</em> effect size will be used in the calculation of sample size and power. The <em>largest difference</em> is used as an upper bound for plotting purposes.
</p>

<p class="green_break padding-half margin-bottom-2em" id="pageIntro3"></p>

<fieldset class="form-group" id="dg-repMeas">
    <label>Are you taking repeated measurements of your primary outcome measure?</label>
    
    <div class="radio">
        <label>
            <input type="radio" name="repeatedMeasures" ng-value="1" ng-model="formData.repMeas.checked">
            Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="repeatedMeasures" ng-value="0" ng-model="formData.repMeas.checked">
            No
        </label>
    </div>
</fieldset>

<div ng-show="formData.repMeas.checked == 0">
    <fieldset class="form-group" id="outMeas-largediff">
        <label>How large of difference between control and treatment (i.e., effect size) do you expect in outcome measure?</label>
        <tooltip-modal content="tooltip.largeDiff" modal="'largeDiff'"></tooltip-modal>

        <input type="text" class="form-control" ng-model="formData.effectSizeLarge" placeholder="Numbers only!  Please do not type units, just values!">
    </fieldset>

    <fieldset class="form-group" id="outMeas-smalldiff">
        <label>What is the smallest difference you'd view as scientifically relevant?</label>
        <tooltip-modal content="tooltip.smallDiff" modal="'smallDiff'"></tooltip-modal>

        <input type="text" class="form-control" ng-model="formData.effectSize" placeholder="Numbers only!  Please do not type units, just values!">
    </fieldset>

    <fieldset class="form-group" id="outMeas-SD">
        <label>What is the Standard Deviation in your outcome measure?</label>
        <tooltip-modal content="tooltip.outcomeSD" modal="'outcomeSD'"></tooltip-modal>

        <input type="text" class="form-control" ng-model="formData.stdev" placeholder="Numbers only!  Please do not type units, just values!">
    </fieldset>

</div>

<div ng-show="(nTotalGroups>3) && (formData.repMeas.checked)">
    <p>
        You have <b ng-bind="nTotalGroups"></b> total groups. 
        Our current repeated measures model allows for up to <span ng-bind="groupsMax"></span> groups.
        We recommend statistical consulting for your experimental design if you want to perform a repeated measures experiment with your current setup.
    </p>
    <p>
        Continue to the next section to use the current design <i>without</i> repeated measures.
    </p>
</div>

<!-- for repeated measures -->
<div ng-hide="(formData.repMeas.checked==0) || (nTotalGroups>3)" id="dg-repMeasYes">

    <fieldset class="form-group">
        <label>Which scenario best describes your experiment?</label>
        <tooltip-modal content="'Select one if taking repeated measures.'"></tooltip-modal>

        <div class="radio">
            <label>
                <input type="radio" name="repMeas.opt" ng-value="1" ng-model="formData.repMeas.opt">
                <strong>Parallel, single outcome repeated:</strong> 
                each experimental subject gets exactly one setting for each treatment and/or manipulation, and a single outcome measurement is taken at multiple fixed times for each experimental subject.
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="repMeas.opt" ng-value="2" ng-model="formData.repMeas.opt">
                <strong>Crossover, single outcome repeated:</strong> 
                each experimental subject gets different settings of treatment and/or manipulation at different times, and a single outcome measurement is taken for each experimental subject at each measurement time point.
            </label>
        </div>
    </fieldset>

<!-- for Parallel Single outcome repeated measures -->
    <fieldset ng-show="formData.repMeas.opt==1" id="repmeas-ps">
        <!-- HTML template -->
        <!--div data-ng-include="'/static/partials/webpage_design/guide/quiz.repMeasures_parallelSingle.html'"></div-->        
        <!--div ng-init="design.notEmbedded=false; dgtable=true;" ng-include="'static/partials/webpage_tools/repMeasuresES.html'"></div-->
        <div data-ng-include src="quizrepmeasps"></div>
        <div ng-init="design.notEmbedded=false; dgtable=true;" ng-include src="quizrepmeases"></div>
    </fieldset>

<!-- for Crossover Single outcome repeated measures -->    
    <fieldset ng-show="formData.repMeas.opt==2" id="repmeas-cs">
        <!-- HTML template -->
        <!--div data-ng-include="'/static/partials/webpage_design/guide/quiz.repMeasures_crossoverSingle.html'"></div-->
        <div ng-include src="quizrepmeascs"></div>
    </fieldset>
    
</div>
<br />
