<h3>Parallel, single outcome repeated measures:</h3>
<br>
<fieldset class="form-group">
    <label>Enter the number of time points at which measures will be collected:</label>
    <input type="text" class="form-control" ng-model="formData.repMeas.timePts" placeholder="placeholder">
</fieldset>

<fieldset class="form-group">
    <label>Enter the standard deviation for the within-subjects measurement variability:</label>
    <tooltip-modal content="tooltip.repMeasPSWS" modal="'sdWithinSubjects'"></tooltip-modal>
    <input type="text" class="form-control" ng-model="formData.repMeas.withinSD" placeholder="placeholder">
</fieldset>

<fieldset class="form-group">
    <label>Enter the standard deviation for the between-subjects measurement variability:</label>
    <tooltip-modal content="tooltip.repMeasPSBS" modal="'sdBetweenSubjects'"></tooltip-modal>
    <input type="text" class="form-control" ng-model="formData.repMeas.betweenSD" placeholder="placeholder">
</fieldset>
