<!-- Internet explorer note: placeholder doesn't show -->

<p class="indent margin-bottom-2em" id="pageIntro0">
    When designing an experiment it is important to have a clearly-defined scientific premise to be investigated. You will need to identify an outcome measure, and the units of the measure, that you will use to study your hypothesis. These ideas form the foundation of the statistical analyses that will help answer your scientific questions.
</p>
<p class="green_break padding-half margin-bottom-1em"></p>

<fieldset class="form-group" id="dg-hypoth">
    <label>What is your Hypothesis?</label>
    <tooltip-modal content="tooltip.hypothesis" modal="'hypothesis'"></tooltip-modal>
    <textarea class="form-control" ng-model="formData.hypothesis"></textarea>
</fieldset>

<fieldset class="form-group" id="dg-outMeas">
    <label>What is your primary outcome measure?</label>
    <tooltip-modal content="tooltip.outcomeMeas" modal="'outcomeMeas'"></tooltip-modal>
    
    <input type="text" class="form-control" ng-model="formData.outMeas" placeholder="e.g. tumor mass (g), distance traveled (cm), latency time (sec), occurrences of degenerated cells (number of cells)">
</fieldset>

<fieldset class="form-group" id="dg-outUnits">
    <label>What are the units of your outcome measure?</label>
    <tooltip-modal content="tooltip.outcomeUnits"></tooltip-modal>
    
    <input type="text" class="form-control" ng-model="formData.obsUnits" placeholder="e.g. g, cm, sec, cells">
</fieldset>

<fieldset class="form-group" id="dg-pilotStudy">
    <label>Have you performed pilot studies for this experiment?</label>
    <tooltip-modal content="tooltip.pilot"></tooltip-modal>
    
    <div class="radio">
        <label>
            <input type="radio" ng-value="0" ng-model="formData.pilotStudy">
            Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-value="1" ng-model="formData.pilotStudy">
            No
        </label>
    </div>
</fieldset>
    
<fieldset class="form-group" ng-hide="formData.pilotStudy==0" id="dg-noPilotStudy">
    <label> Do you have data from other sources to help (such as related literature)? </label>
    <tooltip-modal content="tooltip.litSources"></tooltip-modal>

    <div class="radio">
        <label>
            <input type="radio" name="pubResp" ng-value="0" ng-model="formData.litResource">
            Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="pubResp" ng-value="1" ng-model="formData.litResource">
            No
        </label>
    </div>
    
    <div ng-show="formData.litResource == 1" class="row">
        <div class="col-sm-6 col-sm-offset-2 text-white background-dkgrey padding-1em">
            <div class="col-sm-3">
                <tooltip-warn></tooltip-warn>
                <b>Warning:</b> 
            </div>
            <div class="col-sm-9" id="dg-noPilotWarning">
                To use your outcome measure to study your hypothesis, you will need to have some idea of the variability in your outcome in terms of your subjects (i.e., the standard deviation). Typically this standard deviation is estimated through a pilot study, by examining similar experiments in the published literature, or by previous related experiments in your own lab. You will also need to have an idea of how much your treatments, manipulations, or experimental factors impact the outcome measure (i.e., an <effect-size></effect-size>).
                
                As with the standard deviation, knowledge about relevant effect size values usually comes from pilot studies or prior published work.
                <br> <br>
                
                To gain some feeling for the design process, you may want to simulate a simple experiment. At this link, you can simulate a two-group or a multi-group comparison experiment to see how effect size, standard deviation, sample size per group, and significance govern statistical power and relate to your ability to detect underlying differences between your groups. Click <a target="_blank" ui-sref="tools.sims">SIMULATION</a> to run simulations.
            </div>
        </div>
    </div>
</fieldset>
