<div class="row" ng-controller="toolsController" ng-init="spin={'on':[true,true]}; design.notEmbedded=false; reset(tools.type)" id="pageIntro4">
    <div ng-hide="design.stat.selectedOption.name==null">
        <p class="indent margin-bottom-1em">
            You will be using a set of tools and recommendations to power your test.
            <br><br>
            <b>The recommended statistical test is <a target="_blank" ui-sref="{{design.stat.selectedOption.ui_sref}}"><i>{{ design.stat.selectedOption.name }}</i></a>.</b>
            <br><br>
            Having laid out your experiment, you can now work out how many subjects your study will need (select Sample Size under Calculator) or how much statistical power you can achieve (select Power under Calculator) with your sample size.
            <br><br>
            <span ng-include="'static/partials/webpage_core/assumptions_disclaimer.html'"></span> 
            <br><br>
            A Sample Size vs. Effect Size plot will assist you to explore the trade-off between sample size, effect size and power.
            <br><br>
            The simulation tool will generate mock experimental data based on your design. Each time you replicate an experiment, you will see different sample outcomes and p-values (by clicking Simulate Random Experiment).
        </p>
        <p class="green_break padding-half margin-bottom-2em"></p>
    
        <fieldset class="form-group">
            
            <!--div class="col-xs-12 btn-group padding-top-2em padding-bottom-1em" ng-class="{'col-sm-5': -->
            <div class="col-xs-12 btn-group padding-bottom-1em" ng-class="{'col-sm-5': !formData.repMeas.checked}" data-toggle="buttons">
                <h3> Calculator </h3>
                <br>
                What do you want to solve for? <br>
                
                <label id="calcOpt1" class="btn btn-primary" ng-class="{active : tools.type=='samplesize'}">
                    <input type="radio" name="options" id="opt1" ng-click="tools.type='samplesize'; reset(tools.type);"> Sample Size 
                </label>
                <label id="calcOpt2" class="btn btn-primary" ng-class="{active : tools.type=='power'}">
                    <input type="radio" name="options" id="opt2" ng-click="tools.type='power'; reset(tools.type)"> Power 
                </label>

                <label class="col-xs-12 padding-top-2em"> 
                    <span ng-if="tools.type=='samplesize'"> Sample size </span>
                    <span ng-if="tools.type=='power'"> Power </span>
                    for <i> <span ng-bind="design.stat.selectedOption.name"></span> </i> 
                </label>
                
                <span class="col-xs-12 text-center" ng-show="spin.on[0]">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </span><br>
                
                <div ng-if="tools.type=='samplesize'" ng-include src="'static/partials/webpage_tools/tools.sample.html'" onload="spin.on[0]=false"></div>
                <div ng-if="tools.type=='power'" ng-include src="'static/partials/webpage_tools/tools.power.html'" onload="spin.on[0]=false"></div>
            </div>

            <div class="col-xs-12 col-sm-7 left-border" ng-controller="powerPlotsController" 
                                                        ng-init=""
                                                        ng-hide="formData.repMeas.checked">
                <!--h3> Explore the trade-off between sample size, effect size, and power. </h3-->
                <h3> Plot: Sample Size vs. Effect Size </h3>
                <span class="col-xs-12 text-center" ng-show="spin.on[1]">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </span><br>
                <div ng-include src="'static/partials/webpage_tools/tools.pwr_graph.html'" onload="spin.on[1]=false"></div>
            </div>
        
        </fieldset>
    
        <br />
        <div class="row" ng-controller="simPlotCtrl" ng-init="DG_register(simPlotExists, callPythonToPlot);">
            <div class="col-xs-6 col-xs-offset-3" ng-hide="formData.repMeas.checked">
                <button type="button" class="btn btn-primary btn-block" ng-click="tools.showSimPlots=true; initSimPlot();" id="sim-your-design">
                Simulate Your Design
                </button>
            </div>
        
            <div ng-if="tools.showSimPlots" class="col-sm-12 col-sm-offset-0 text-center">
                <hr class="green_break">
                <div ng-hide="formData.repMeas.checked" 
                    ng-include src="'static/partials/webpage_tools/tools.sims.html'"></div>
            </div>
        
            <div class="row" ng-hide="(tools.showSimPlots == false) && !(formData.repMeas.checked)">
                <div class="green_break margin-bottom-2em"> </div>
                <div class="col-xs-6 col-xs-offset-3">
                    <a ng-click='inProgress=true; stepUp()' class="btn btn-block btn-primary" id="dg-genReport">
                        Generate report
                        <span class="fa fa-angle-double-right"></span>
                    </a>
                    <br>
                    <p>
                        The report will include the design details as well as the power plot and several simulation plots (if applicable).
                    </p>
                    <div ng-show="inProgress">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <i> Generating report ... This may take a few minutes. </i>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
    <div ng-show="design.stat.selectedOption.name==null">
        <p class="indent margin-bottom-1em">
            You will be using a set of tools and recommendations to power your test.
        </p>
        <tooltip-warn></tooltip-warn>
        <b>You have no treatments. No statistical tests can be done.  
            Go to <button type="button" class="btn btn-primary" ng-click="setStep(1)">Treatments Factors</button> 
            page to list your treatments and settings. 
        </b>
    </div>

</div>
