<!-- Layout for Treatments Tab.
     The table design is carried out in a separate file "quiz_table_info.html -->
<div ng-init="resultsGenerated = false;"></div>

<p class="indent margin-bottom-1em" id="pageIntro1">
    Treatments factors define the ways in which you make designed changes your experimental test subjects to examine your scientific hypothesis. An experiment may have one or more treatments, and each treatment may have multiple levels (dosages, for example). In most experiments, different treatments will require their own controls.
    <br> <br>
    It is important to distinguish controlled <b> treatment factors </b> that the experimenter will set by design and apply to subjects from <b> nontreatment factors </b> (sometimes called <i> confounders or fixed factors</i>) like sex, age, or weight, that the experimenters DO NOT choose. These nontreatment factors that may impact the outcome measure will be entered on the next tab, Nontreatment Factors.
</p>
<p class="green_break padding-half margin-bottom-2em"></p>

<fieldset class="form-group" id="dg-trtList">
    <label>List your treatments & settings:</label>
    <tooltip-modal content="tooltip.listTreat" modal="'listTreat'"></tooltip-modal>
</fieldset>

<fieldset class="form-group" id="dg-trtAdd">
    <button type="button" class="icon btn btn-default text-left" ng-click="addRow( 'treatments' )" style="width:150px;">
        <span class="fa fa-plus"></span> Add Treatment
    </button>
    <tooltip-modal content="tooltip.addTreat" modal="'addTreat'"></tooltip-modal>

    <br /> <br />
    <div class="row">
        <div class="col-xs-12">
            <div ng-include src="quiztableinfo" class="table-hover"/>
        </div>
    </div>
</fieldset>

<fieldset class="form-group" id="additional-control">
    <label>Are you using an additional Control?</label>
    <tooltip-modal content="tooltip.addlCtrl" ></tooltip-modal>

    <p><i> Select all that apply </i></p>

    <!-- $scope.controlTypeSelected will be the default -->
   <div ng-repeat='ct in formData.controlTypes' class="radio">
        <label>
            <input type="checkbox" name="controlTypes" value="{{ct.id}}"
                ng-checked="ct.selected" ng-model="formData.controlTypes[$index].selected">
            {{:: ct.name }}
        </label>
    </div>
</fieldset>
