<div id="homepage">
<div class="banner">  
    <div class="row text-left">
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
            <h1>MySampleSize </h1>
        </div>
 
        <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6">
            <p>YOUR SCIENCE. OUR TOOLS. FAST RESULTS.</p>
        </div>
    </div>
</div>

<div class="background-grey text-center landing padding-bottom-2em padding-top-2em">
    <div class="container">
        <div class="row">
            <div class="padding-top-1em padding-bottom-2em col-xs-12 col-sm-10 col-sm-offset-1">
                <h2><strong>How MySampleSize Works</strong></h2>
                <h5 class="text-uppercase padding-top-1em">all of the tools you need for experimental design</h5>
            </div>
        </div>
        
        <div class="row margin-left-2em">
            <div class="col-xs-4 col-sm-3">
                <a ui-sref="design_guide">
                    <img class="center-block img-circle" ng-src="{{imgPath}}/main3.jpg"/>
                </a>
            </div>
                
            <div class="col-sm-1 hidden-xs padding-top-2em"><i class="fa fa-5x fa-angle-right text-grey2"></i></div>

            <div class="col-xs-4 col-sm-3">
                <a ui-sref="tools.home">
                    <img class="center-block img-circle" ng-src="{{imgPath}}/stock.tools.jpg"/>
                </a>
            </div>

            <div class="col-sm-1 hidden-xs padding-top-2em"><i class="fa fa-5x fa-angle-right text-grey2"></i></div>

            <div class="col-xs-4 col-sm-3">
                <a ui-sref="report.home">
                    <img class="center-block img-circle" ng-src="{{imgPath}}/stock.report.jpg"/>
                </a>
            </div>
        </div>

        <div class="row padding-top-2em margin-left-2em">
            <div class="col-xs-4 col-sm-3">
                <h4 class="text-grey">DESIGN GUIDE</h4>
                <p>Use our step-by-step questionnaire to construct a design with sample size and power analysis. A PDF report is included.
            </div>
            <div class="col-xs-4 col-sm-3 col-sm-offset-1">
                <h4 class="text-grey">TOOLS</h4>
                <p>If you have already designed your experiment, head straight to our <strong>Tools</strong> to ensure your design is statistically sound.</p>
            </div>
            <div class="col-xs-4 col-sm-3 col-sm-offset-1">
                <h4 class="text-grey">REPORT</h4>
                <p>Download a <strong>Report</strong> of your work for transparent, reproducible results.</p>
            </div>
        </div>
    </div>
</div>

<div class="container landing" style="margin:2em auto 4em auto;">
    <div class="text-center title padding-bottom-1em" style="margin:4em 0 4em 0;">
        <h2>We Provide</h2>
        <div class="green_break padding-half"></div>
    </div>
    <div class="row">    
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title no_link text-right">
                        <h4><a ui-sref="design_guide">Design Guide</a></h4>
                        <p>An interactive guide to Experimental Design</p>
                    </div>
                    <p>
                        Fill in information about your study and our click-through guide will process your responses and suggest an appropriate experimental design choice.
                    </p>
                </div>
                <div class="col-sm-6">
                    <a ui-sref="design_guide">
                        <img ng-src="{{imgPath}}/main3.jpg" alt="" class="img-circle pull-right img-border"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <a ui-sref="tools.home">
                        <img ng-src="{{imgPath}}/stock.tools.jpg" alt="" class="img-circle pull-left img-border"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="title no_link">
                        <h4><a ui-sref="tools.home">Tools</a></h4>
                        <p>Easy to Use Calculators and Graphics</p>
                    </div>
                    <p>
                        Refine your experimental design using our tools: calculate Sample Size or Power, set up your experiment with our random number generator, or plot your design or methods using our graphing tools.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 padding-top-2em">
            <div class="row">
                <div class="col-sm-6">
                    <div class="title no_link text-right">
                        <h4><a ui-sref="report.home">Reports</a></h4>
                        <p>Download and Save Your Work</p>
                    </div>
                    <p>
                        Our reporting tools document your experimental design work.  We also provide on-line forms for the ARRIVE Supplement and Checklist for you to record experiment details to simplify your publication and reporting process.
                    </p>
                </div>
                <div class="col-sm-6">
                    <a ui-sref="report.home">
                        <img ng-src="{{imgPath}}/stock.report.jpg" alt="" class="img-circle pull-right img-border"/>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-6 padding-top-2em">
            <div class="row">
                <div class="col-sm-6">
                    <a ui-sref="help.home"> 
                        <img ng-src="{{imgPath}}/stock.examples.jpg" alt="" class="img-circle pull-left img-border"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="title no_link text-left">
                        <h4><a ui-sref="help.home">Help</a></h4>
                        <p>Background and Examples</p>
                    </div>
                    <p>
                        Our help materials include backgrounders and interactive tools for understanding the experimental design process. Read through our FAQ or go through our reference material and real life examples for further information on experimental design. We also have professionals on hand available through chat or <a ui-sref="help.contact" target="_blank">email</a>.
                    </p>
                </div>
            </div>
        </div>                    
    </div>
</div>

<div class="background-grey text-center padding-top-2em padding-bottom-2em">
    <h2><strong>Powered by Tempest Technologies</strong></h2>
    <h3>in affiliation with</h3>
    <div class="container">
        <div class="row padding-top-2em">
            <div class="col-xs-4">
                <a href="https://ucsd.edu" target="_blank">
                    <img ng-src="{{imgPath}}/logos/ucsd.png" class="img-responsive center-block padding-top-2em" width="80%"/>
                </a>
            </div>
              <div class="col-xs-4">
                <a href="https://www.nih.gov" target="_blank">
                    <img ng-src="{{imgPath}}/logos/nih.png" class="img-responsive center-block" width="80%"/>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="https://www.ucdavis.edu" target="_blank">
                    <img ng-src="{{imgPath}}/logos/ucd-min.png" class="img-responsive center-block padding-top-2em" width="80%" />
                </a>
            </div>
        </div>
    </div>
</div>
</div>