<div class="row padding-bottom-2em text-center" id="noauth-warning">
    <div class="toolpage-icons col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

        <p class="padding-top-1em" ng-if="!authService.authenticated">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-lock fa-stack-1x"></i>
            </span>
            You must be <a ui-sref="auth.home">logged in</a> to fully access this page.
        </p>

        <p class="padding-top-1em" ng-if="authService.authenticated && (authService.payment.delinquent || authService.payment.ended)">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-lock fa-stack-1x"></i>
            </span>
            Your subscription has expired or your account is delinquent. 
            Go to <a ui-sref="account.billing">your account</a> to update.
        </p>
        
        <h4 class="padding-top-1em">
        </h4>
    </div>
</div>